[2020-02-14 14:16] sandeepnmenon commented on #311
+1
Getting the same issue in Azure function v2
netcoreapp2.2

[code]

[2020-02-14 22:35] soninaren commented on #287
@RufusJWB Can you please open a new issue with the details of the issue you seeing? A standalone repro / copy of the .csproj if possible would help a lot. If other users on the thread are seeing the same issue as an existing one, please provide us the full details and possible repro. This will help us make sure all the root cases are addressed in the fix.

[2020-02-14 22:35] #287 closed

[2020-02-14 22:50] soninaren opened #381 "Throw a compile error if the user has extension bundle configured in the host.json"
Extension bundles should not be configured for functions using C# precompiled functions. It lead to a variety of issues and has a potential of users running into issues when ever we deploy a new version of extension bundle. The net sdk package should throw a compile error when it sees a host.json file with extension bundle configured in it.

[2020-02-16 17:46] RufusJWB opened #382 "Could not evaluate 'Cosmos.CRTCompat.dll' for extension metadata. Exception message: Bad IL format."
As discussed in https://github.com/Azure/azure-functions-vs-build-sdk/issues/287 I get the following error messages when deploying an Azure Function:

[code]
Please find in the following my .csproj file:
[code]
The function itself comes directly from the template generator:
[code]
host.json looks the following:
[code]

I'm running
[code]

[2020-02-18 17:29] pcancela opened #383 ".nuget\packages\microsoft.net.sdk.functions\3.0.3\build\Microsoft.NET.Sdk.Functions.Publish.targets(34,11): error MSB4006: There is a circular dependency in the target dependency graph involving target "Publish""
Hi all,

Since I've upgraded to SDK 3.0.3 everytime I try to run dotnet publish I'm getting the following error:
 _**.....nuget\packages\microsoft.net.sdk.functions\3.0.3\build\Microsoft.NET.Sdk.Functions.Publish.targets(34,11): error MSB4006: There is a circular dependency in the target dependency graph involving target "Publish"**_

If I remove the DependsOnTargets="Publish" attribute @ Microsof

[2020-02-19 10:59] pcancela commented on #383
I've managed to workaround the issue by adding <DisablePublishDuringPack>true</DisablePublishDuringPack> to <PropertyGroup> of my .csproj

I believe this should be the default behavior, we were not supposed to explicitly add the flag.

Kind regards

[2020-02-19 16:07] lommez commented on #340
Any updates on this issue?
I've to do just like RAAAAN said.

[2020-02-19 17:22] fabiocav commented on #340
@lommez would you be able to  share the information requested by @soninaren and open a new issue with the details?

[2020-02-19 17:54] fabiocav commented on #346
@FrankGagnon / @madhu-sameena this was opened against the preview and should no longer be an issue, so I'm closing as resolved, but if you're still experiencing problems, please let us know and share more details and we'll take a closer look.

[2020-02-19 17:54] #346 closed

[2020-02-19 17:55] fabiocav commented on #356
@ngg this should be resolved. If you still see issues with the latest version, please let us know and we'll reopen for investigation.

[2020-02-19 17:55] #356 closed

[2020-02-19 18:01] lommez commented on #340
@soninaren here is my csproj:

[code]

[2020-02-20 00:45] soninaren opened #384 "Directory not found exception"
@soninaren here is my csproj:

[code]

_Originally posted by @lommez in https://github.com/Azure/azure-functions-vs-build-sdk/issues/340#issuecomment-588359166_

[2020-02-20 00:47] soninaren commented on #340
Locking the conversation on this issue. Have created a new issue referencing the last comment.

[2020-02-20 11:06] helgeu commented on #368
any progress on this issue? @KevinHoward ?

[2020-02-20 16:58] helgeu commented on #368
think there is some movement on this issue at https://github.com/Azure/Azure-Functions/issues/1410

@KevinHoward  @thaitm312

[2020-02-20 18:14] ravick4u opened #385 "Warning NU1608 Detected package version outside of dependency constraint: Microsoft.NET.Sdk.Functions 1.0.24 requires Newtonsoft.Json (= 9.0.1) but version Newtonsoft.Json 12.0.3 was resolved."
So I am creating a new azure function with V1 and as per the below suggestion added "Newtonsoft.Json 12.0.03" to my project.

https://github.com/Azure/azure-functions-vs-build-sdk#q-i-need-a-different-newtonsoftjson-version-what-do-i-do

As I added it started giving me below warning message.

- Is there a way I can resolve this warning?
- Can I ignore these warnings?

[2020-02-21 03:05] sandeepnmenon commented on #311
There was an issue were giving an empty host.json would add some default extension bundles in the azure function, causing it to fail loading.
On removing the same (Extension bundles), it seems to work.
Hence, for me providing a non-empty host.json resolved the issue.

For mitigation, removing the extension bundle from the function app settings can resolve the issue.

[2020-02-23 16:28] ThiruA1980 commented on #304
Why this ticket is in closed status though the issue still persists even today ??
Warning received:
_"Detected package version outside of dependency constraint: Microsoft.NET.Sdk.Functions 1.0.29 requires Newtonsoft.Json (= 11.0.2) but version Newtonsoft.Json 12.0.3 was resolved"_

[2020-02-23 22:46] AartBluestoke commented on #304
@ThiruA1980 that's only a warning, not the outright error that it was before the hard dependency was removed. At runtime, the 11.0.2 library will be the one physically present. That warning indicates that there is indeed a potential runtime error within your code if you use features from the not-loaded dll.

[2020-02-25 11:00] Ruekov commented on #349
This issue seems to be still open. An Azure function (V3) under NetCore 3.1 , referencing Sdk.Functions 3.0.3  with EntityFramework 6.4.0 (netstandard 2.1) could not load the assembly netstandard 2.1 once published. Any idea?

[2020-03-01 11:19] cognitiff opened #388 "ExtensionsMetadataGenerator dependency cannot be satisified"
The latest release (3.0.4) has a dependency on
Microsoft.Azure.WebJobs.Script.ExtensionsMetadataGenerator (>= 1.1.4). However, the highest version of the metadata generator available on nuget.org is 1.1.3

[2020-03-01 22:22] rolandoldengarm commented on #344
@brettsam  this is impacting me as well, is there a workaround? Or is there an ETA on a fix? Thanks!

[2020-03-02 03:17] hypatia1729 commented on #388
Experiencing same issue.

[2020-03-02 12:20] MathewsThankachan commented on #298
Do we have a solution for this problem yet ?
I have created a file called appconfig.settings.json and reading the configuration at run time.  After publishing I am unable to see the this file anywhere in functionApp in azure

[2020-03-02 15:56] jnhaffey commented on #388
Same issue (still).
Released 2 days ago, bug reported yesterday, still no response or fix as of today.

[2020-03-02 16:44] dguerin commented on #388
Same here at the moment...waiting...waiting...

[2020-03-03 01:50] AtOMiCNebula commented on #388
I escalated this internally to the Functions team earlier today, and ExtensionsMetadataGenerator 1.1.4 is now published. :tada:

https://www.nuget.org/packages/Microsoft.Azure.WebJobs.Script.ExtensionsMetadataGenerator/1.1.4

[2020-03-03 03:07] briandunnington opened #389 "Microsoft.NET.Sdk.Functions v3.0.4 does not call IWebJobsStartup class"
Updated to 3.0.4 today and started getting errors about DI types not being able to be resolved. Ran the debugger and noticed that the Startup class that implements IWebJobsStartup was not being called. Rolled back to 3.0.3 and confirmed that it works as expected there.

[2020-03-03 03:23] hypatia1729 commented on #388
Confirmed all is good for me now; have updated Microsoft.NET.Sdk.Functions to 3.0.4.

[2020-03-03 03:48] hypatia1729 commented on #388
Although, separate problem, 3.0.4 seems to have broken the project. I'm running durable entities with an HTTP trigger, and I'm now getting the following on startup:

[code]

The problems go away if I downgrade to 3.0.3. I'll try playing around a bit, but if I can't fix it, I'll log another issue.

[2020-03-03 05:27] bstoked commented on #382
Any word on this? I'm getting these errors only when publishing to Azure. The code runs fine locally. Seriously need a workaround or a fix, or my entire claim to my company that serverless services is the way to go for what we are doing is out the window.

[2020-03-03 07:12] cannehag opened #390 "ServiceBus output binding broken with 3.0.4"
When updating Microsoft.NET.Sdk.Functions from version 3.0.3 to version 3.0.4. My ServiceBus output binding throws exception in startup.
Using Microsoft.Azure.WebJobs.Extensions.ServiceBus version 4.1.0

`public async Task Run([TimerTrigger("*/2 * * * *")]TimerInfo myTimer,
         [ServiceBus("queuename", Connection = nameof(AppSettings.ServiceBusConnectionString))]
           IAsyncCollector<Me

[2020-03-03 07:36] cognitiff commented on #388
The ExtensionsMetadataGenerator 1.1.4 is available now

[2020-03-03 07:36] #388 closed

[2020-03-03 08:28] AtOMiCNebula commented on #389
Seeing same behavior.  `bin\extensions.json` is clearly not referencing any assemblies when using v3.0.4, but has my Startup-containing assembly (and other assemblies, in my case DurableTaskStartup) when using v3.0.3.

Curiously, I only see this when running `dotnet build`; `dotnet publish` produces okay content for `publish\bin\extensions.json`.

When enabling detailed build logging, `_GenerateFu

[2020-03-03 08:29] AtOMiCNebula commented on #390
Check `bin\extensions.json`; very likely same root cause as #389 (I'm seeing same for DurableTaskStartup being missing).

[2020-03-03 08:34] AtOMiCNebula commented on #388
@hypatia1729 see #389 ☹️

[2020-03-03 11:06] Andrew-George-LG commented on #384
The solution for me was to fix the SDK version to 2.2.x in a global.json at the solution level. (.NET Core 3.x is the underlying issue)

https://docs.microsoft.com/en-us/dotnet/core/tools/global-json?tabs=netcore3x

make the following global.json file in the solution folder:

{
  "sdk": {
    "version": "2.2.0",
    "rollForward": "latestFeature"
  }
}

You can confirm that this SDK is used with "

[2020-03-03 15:05] Rocinante89 commented on #389
I'm experiencing the same issue also

[2020-03-03 15:52] WillEastbury commented on #389
Same here with CosmosDB Binding in v3.0.4

[2020-03-03 15:55] WillEastbury commented on #389
3.0.4 Doesn't seem to be generating the correct content in the Extensions.json file.

3.0.3 generates
{
  "extensions":[
    { "name": "CosmosDB", "typeName":"Microsoft.Azure.WebJobs.Extensions.CosmosDB.CosmosDBWebJobsStartup, Microsoft.Azure.WebJobs.Extensions.CosmosDB, Version=3.0.5.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"}
  ]
}

3.0.4 generates
{
  "extensions":[
  ]
}

[2020-03-04 09:56] vitalybibikov commented on #389
The same is valid for me as well.

[2020-03-04 12:10] sudheeshix commented on #311
I was able to fix this issue by adding the NuGet package
Microsoft.Azure.WebJobs.Script.ExtensionsMetadataGenerator

[2020-03-04 22:50] kylebunting commented on #390
I'm having the same issue with the Queue output binding. The error message is the same as what was displayed above.

[2020-03-05 01:46] eliashdezr commented on #374
This might be related: https://github.com/Azure/azure-functions-dotnet-extensions/issues/36

[2020-03-05 09:01] mmajcica commented on #389
Same here, with Microsoft.NET.Sdk.Functions 3.0.4. the code doesn't get into the FunctionsStartup class and the composition is not happening.

[2020-03-05 11:48] rasmuschristensen commented on #390
Ran into this one too :(

[2020-03-05 11:49] rasmuschristensen commented on #389
Me too :(

[2020-03-05 13:04] lee-cordell commented on #349
This is still an issue. I have an Azure function on VS 16.4.5 targeting .NET Core 3.1 and referencing a .NET standard assembly.

I get the message: System.IO.FileNotFoundException: 'Could not load file or assembly 'netstandard, Version=2.1.0.0, Culture=neutral, PublicKeyToken=cc7b13ffcd2ddd51'. The system cannot find the file specified.' It's causing me a pretty urgent issue.

[2020-03-05 13:27] mchudinov commented on #390
Same for storage (blob).

[2020-03-05 13:37] miniGweek opened #391 "Servicebus Topic Input binding broken when upgrading Microsoft.NET.Sdk.Functions from 3.0.3 to 3.0.4"
I am using Azure Function v3 , building a C# Function Trigger [ a Servicebus Topic Trigger ] which runs in a Linux Docker Container.
Targeting .net core 3.1.

As part of my local development if I debug and start a new instance of this function trigger while referencing Microsoft.NET.Sdk.Functions 3.0.3 , it launches fine and the console screen shows the following happy message :

`[5/03/2020 1:30:

[2020-03-05 14:35] pgussow opened #392 "ApplicationInsights OperationID not properly communicated anymore"
I have upgraded my project from the v2 runtime to the v3 runtime. For this I updated from 1.0.28 to 3.0.3.

What I notice is that when I run the project using the old bindings I see this picture in ApplicationInsights:
![image](https://user-images.githubusercontent.com/83359/75990624-791a8100-5ef5-11ea-9a6a-89e44a294af0.png)
As you see there are standard provided messages (like the Executing (...)

[2020-03-05 15:30] pgussow commented on #392
I've found the problem. The problem was that I was registering a TelemetryConfiguration object in the container builder. Therefor the default configuration was overwritten and thus everything collapsed.

[2020-03-05 15:30] #392 closed

[2020-03-05 17:17] briandunnington commented on #389
Looks like this issue (as well as #390 and #391) might all be caused by this: https://github.com/Azure/azure-functions-host/issues/5747 - sounds like a fix is on the way, but I think that 3.0.4 should probably be removed from NuGet.

[2020-03-05 18:36] brettsam commented on #389
Closing as dupe of https://github.com/Azure/azure-functions-host/issues/5747 (to make sure all updates happen in one place).

[2020-03-05 18:36] #389 closed

[2020-03-05 23:09] ak37165 commented on #380
Having the same issue.

[2020-03-06 04:33] codechavez commented on #298
I have encourered the same issue. I have build an Azure Function with dotnet core 3.1 and built an CI/CD to host it on Azure and all half of the dependencies are missing.  What's the status on this issue? it was created on March 2019, a year later and no fix? Please fix this.

[2020-03-06 07:11] gpalsson commented on #391
It seems like the 3.0.4 should be removed from the repository?

[2020-03-06 10:09] clinsted opened #397 "Could not load file or assembly System.IdentityModel.Tokens.Jwt, Version=5.6.0.0"
The error occurs when upgrading Microsoft.NET.Sdk.Functions to version 3.0.4 or 5 from 3.0.3

Full error:
Could not load file or assembly 'System.IdentityModel.Tokens.Jwt, Version=5.6.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35'. The system cannot find the file specified.":"System.IdentityModel.Tokens.Jwt, Version=5.6.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"}

[2020-03-06 15:10] briandunnington commented on #390
Seems as though DI in general was broken in 3.0.4. The team released 3.0.5 with the fix so try updating to that version to see if it solves this issue for you.

[2020-03-06 19:03] ErikAndreas commented on #397
Got a similar problem. Upgraded from 3.0.2 to .5 and getting runtime exception:
Could not load file or assembly 'Microsoft.IdentityModel.Protocols, Version=5.6.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35'. The system cannot find the file specified.

class loaded at runtime declares (amongst other but prolly related):
using Microsoft.IdentityModel.Protocols;
using Microsoft.IdentityModel.

[2020-03-06 19:44] junalmeida commented on #202
@grahamehorner I think this is related to #274 and #324.

[2020-03-09 03:30] BadTactx commented on #397
@ErikAndreas this worked for me for System.IdentityModel.Tokens.Jwt but note the _ at the begining of functions
`<_FunctionsSkipCleanOutput>true</_FunctionsSkipCleanOutput>`

[2020-03-09 07:39] ErikAndreas commented on #397
Hey @BadTactx it did, thanks! (who'd thought actually doing exactly as stated would work... I though the '_' was for escaping markup on twitter...). For reference:
`<Project Sdk="Microsoft.NET.Sdk">
  <PropertyGroup>
    <TargetFramework>netcoreapp3.1</TargetFramework>
    <AzureFunctionsVersion>v3</AzureFunctionsVersion>
    <_FunctionsSkipCleanOutput>true</_FunctionsSkipCleanOutput>
  </Property

[2020-03-10 04:35] bdnts opened #398 "Microsoft.Net.Sdk.Functions just blew up the tutorial"
I was working through https://docs.microsoft.com/en-us/azure/azure-app-configuration/quickstart-azure-functions-csharp, VS16.4.5, blank azure function, had just finished adding Microsoft.Extensions.ConfigurationAzureAppConfiguration.  NuGet said Microsoft.Net.Sdk.Functions needed to be updated.  Performed the update, and the Function1.cs template blew up.  [FunctionName("Function1")] not recognize

[2020-03-11 16:55] WiredUK commented on #397
Just to add my experience too, very frustrating error when publishing to Azure but the `_FunctionsSkipCleanOutput` property (including the underscore prefix!) worked a treat.

[2020-03-11 17:14] paulbatum opened #399 "Functions V1 EventHubTrigger broken on SDK 1.0.30 and greater"
Steps to repro:
1. Create a V1 function app in Visual Studio, with eventhub trigger
2. Update NuGet reference Microsoft.Azure.WebJobs.ServiceBus 2.2.0 -> 2.3.0
3. Update NuGet reference Microsoft.NET.Sdk.Functions 1.0.24 -> 1.0.30 (or greater)
4. Add a connection string for the eventhub.
5. Run the app.

The following error will appear in the console output:

[code]

Downgrading back to 1.0.29 wil

[2020-03-12 13:07] ielcoro opened #401 "Durable Activity Functions in nested classes do not get discovered by function.json generator since SDK 1.0.31"
This caused us a great headache, because we only could detect it after deploying to Azure. Since 1.0.31 something changed, that when you declare your durable activity functions inside nested classes like this:

`public class someFunction
    {
        [FunctionName("someFunction")]
        public async Task<List<string>> RunOrchestrator(
            [OrchestrationTrigger] IDurableOrchestrationCont

[2020-03-12 19:34] #399 closed

[2020-03-12 20:21] GuusRaaphorst commented on #397
I have the same issue here after upgrading from 3.0.3 to 3.0.5. Just for information:
- You can just downgrade to 3.0.3 to fix this.
- Using _FunctionsSkipCleanOutput indeed also works
- Publishing to 2 different (empty) folders changing only _FunctionsSkipCleanOutput shows a big difference in amount of assemblies in the output (function.deps.json and extensions.json are identical):
   - value fal

[2020-03-13 14:39] Jo212 commented on #380
Had the same issue. Resolved it by installing the dependent packages mention above manually. It is really stupid.

[2020-03-14 00:36] grahamehorner commented on #202
@junalmeida it is indeed and I submitted a PR to address this https://github.com/Azure/azure-functions-vs-build-sdk/pull/217 back in Aug of 2018

[2020-03-16 20:38] fabiocav opened #404 "Update SDK tests to ensure validation of extension entries generation"
Validation (automated and manual OGFs) need to be updated to ensure extension entries are correctly generated with new releases and in scenarios where explicit metadata generation references are present.
This was regressed in a recent release leading to issues with startup class registrations.

[2020-03-16 20:41] fabiocav commented on #391
@miniGweek are you still seeing issues in 3.0.5?

[2020-03-17 10:03] HeinPauwelyn opened #405 "Functions version 1 don't work with KeyVault"
I'm developing an application using the Microsoft.NET.Sdk.Functions package version 1.0.29 _(.NET Framework 4.7.2)_. When I also install [Microsoft.Azure.KeyVault version 3.0.5](https://www.nuget.org/packages/Microsoft.Azure.KeyVault/3.0.5), I've next exception:

[code]

What I've found so far is that Microsoft.NET.Sdk.Functions depends on Newtonsoft.Json version = 9.0.1 and KeyVault depends on Ne

[2020-03-17 20:34] AlexEyler opened #406 "Microsoft.Azure.WebJobs.Extensions 3.0.5 depends on Microsoft.Azure.WebJobs.Host.Storage (>= 3.0.11) but Microsoft.Azure.WebJobs.Host.Storage 3.0.11 was not found"
Affected package versions: 1.0.30-beta4 -> 1.0.34 (for .NET Standard 2.0)

It looks like Microsoft.Azure.WebJobs.Host.Storage version 3.0.11 doesn't exist anymore. The fix is to update the package reference to Microsoft.Azure.WebJobs.Extensions to 3.0.6.

Root cause issue: https://github.com/Azure/azure-webjobs-sdk/issues/2386

[2020-03-17 20:35] AlexEyler commented on #406
Workaround: Manually add a PackageReference to 3.0.6 in your project:

[code]

[2020-03-19 08:41] russellg59 commented on #93
Still happening for me as of 19 Mar 2020!

[2020-03-19 20:10] alakharin commented on #311
I am currently facing a very similar same issue with v2, however i already have a non-empty host.json file and the ExtensionsMetadataGenerator package.

[2020-03-22 15:20] harrymoy commented on #337
Hi,

I'm not sure if you have since found the solution to the problem but I also encountered this error - the issue was that I had multiple versions of the .NET Core SDK and runtime installed when I deleted all of the old ones I found that I didn't get this error anymore.

Happy coding!

[2020-03-22 23:57] nlysaght commented on #298
HI Folks, I have exactly the same issue

- .NET Standard 2.1 projects
- .NET 3.1 libraries
- 3.1 Azure functions which reference the Standard 2.1 & 3.1 projects

When I build or publish I am missing DLL's that should be there in the output folder.
I need to manually copy some DLL's into the bin folder as the function runtime is starting up to get them to work even in a development environment.

-

[2020-03-25 16:28] chmarti commented on #199
This is still happening! Why has this been closed?

[2020-03-26 22:27] lokijota commented on #332
+1 on this.

[2020-03-27 05:46] fowl2 opened #408 "Missing tags/github releases since 1.0.31"
Y'all promised in #345, then promptly forgot [two months later](https://www.nuget.org/packages/Microsoft.NET.Sdk.Functions/1.0.33) ;)

Thanks 🙏🙂

[2020-03-27 07:01] #391 closed

[2020-03-27 17:30] MaxThom commented on #349
Same issue here.

[2020-03-27 17:53] andrewkittredge commented on #199
I can "repro" this.

[2020-04-01 19:34] fauve- commented on #110
Hi, I'm running into this issue also. Has there been any movement on it?

[2020-04-01 22:42] soninaren opened #409 "Add warning error message if v3.x package is being used for netcoreApp 2.x or net461"

[2020-04-01 22:49] soninaren opened #410 "Add warning message if v1.x package is being used for netcoreapp 3.x or function runtime v3"

[2020-04-02 14:20] Dzoukr commented on #397
Even if downgrade works (and thanks guys for it!!!), this is quite anoying bug - any update on this?

[2020-04-03 13:43] pawel-zolty commented on #215
I have the same issue with Net Framework 4.7.

To solve the problem you should update Microsoft.NET.Sdk.Functions nuget package.

Note that .NET Framework 4.7.2 "Only supports development in the Azure portal or locally on Windows computers." [https://docs.microsoft.com/en-us/azure/azure-functions/functions-versions](link)

[2020-04-06 12:36] amigup opened #411 "Custom ITelemetryInitializer in azure function .Net Core 3.1 does not work"
Custom `ITelemetryInitializer` in azure function .Net Core 3.1 does not work.

I've implemented a custom ITelemetryInitializer and injected using Dependency injection as Singleton but `Initialize` method of `ITelemetryInitializer` of custom class is not hit.

#### Repro steps

1. Created a new .Net core 3.1 Azure function with Http binding.
1. Installed Microsoft.Azure.Functions.Extensions 1.0.0 p

[2020-04-07 08:43] amigup commented on #411
After updating the package Microsoft.NET.Sdk.Functions to 3.0.5, custom `ITelemetryInitializer` stated working

[2020-04-07 08:43] #411 closed

[2020-04-10 14:57] MariaCobretti opened #412 "version 3.0.4 removes required dependencies"
I am assuming the build package size is being reduced by a dotnet core build feature that removes DLLs that are not directly referenced. I am adding a custom AccessTokenValidation service through dependency injection that uses Microsoft.IdentityModel.Protocols.OpenIdConnect. That DLL however is removed from the bin folder in this version.

[2020-04-10 15:07] MariaCobretti commented on #412
duplicate https://github.com/Azure/azure-functions-vs-build-sdk/issues/397

[2020-04-10 15:07] #412 closed

[2020-04-12 18:51] vijayrkn opened #413 "Pass additional query parameters to Functions Zip Deploy request: isasync=true&synctriggers=true"
Details from @divyagandhii

There is a more detailed explanation here - https://github.com/projectkudu/kudu/wiki/Deploying-from-a-zip-file-or-url#comparison-with-zip-api

These are the relevant parts from the link above –

Synctriggers flag :-
Function trigger sync: If you are running Functions on a Consumption plan, modifying their triggers requires a synchronization process that doesn't occur wh

[2020-04-14 09:32] AvinashRamalingamMSFT commented on #412
Even we are experiencing similar issue after updating the Microsoft.NET.Sdk.Functions to 3.0.5.

Not sure, if it’s an ideal move to add _FunctionsSkipCleanOutput property for our production workloads.

Is there a fix coming anytime sooner?

Please suggest, else we might have to leave with the downgraded version 3.0.3, which is not recommended. Thanks.

[2020-04-17 20:18] brettsam commented on #397
For now, using `<_FunctionsSkipCleanOutput>true</_FunctionsSkipCleanOutput>` is the right approach to getting around this.

I'm going to close this issue and use https://github.com/Azure/azure-functions-host/issues/5894 to track the fix.

[2020-04-17 20:18] #397 closed

[2020-04-17 20:18] brettsam commented on #412
For now, using `<_FunctionsSkipCleanOutput>true</_FunctionsSkipCleanOutput>` is the right approach to getting around this.

I'm going to use https://github.com/Azure/azure-functions-host/issues/5894 to track the fix.

[2020-04-18 08:54] joelverhagen opened #414 "NuGet.Protocol disappears from bin in version 3.0.4 or greater"
## Repro steps

1. Open Visual Studio (I have 16.5.3)
1. Create a new Azure Function project.
1. Install the latest version of `NuGet.Protocol` (I have 5.5.1)
1. Update the Microsoft.NET.Sdk.Functions package to 3.0.4 (My template had 3.0.3)
1. Add a bit of code to reference the package.
1. Start the function locally (Ctrl+ F5)

This is the code I used.
[code]

## Excepted

App should start, and f

[2020-04-20 16:20] arcooke commented on #272
What's the solution here?  No matter what I do, `"direction": "in"` gets removed from my function.json upon deploy and the project fails to deploy 100% of the time.  Using a very simple test project based on Microsoft's own documentation.

I'm not sure what @zarochi meant by deploying a settings file ahead of time... this isn't documented?

I cannot get my first 'hello world' function to deploy us

[2020-04-20 16:41] brettsam commented on #272
@arcooke -- can you share what your csproj file looks like? Are you using the latest version of `Microsoft.NET.Sdk.Functions`?

[2020-04-20 17:07] arcooke commented on #272
@brettsam Sure

[code]

My function is just the boilerplate C# HTTP Trigger code generated from VSCode

Thank you for the quick reply

[2020-04-20 17:20] arcooke commented on #272
☝️ Updated with more info

[2020-04-21 14:38] arcooke commented on #272
Is there any sort of workaround I can use to get my function deployed in the meantime?  My only alternative at this point is to spin up a full-blown web server.  This project is needed by folks who are working from home due to the virus and I need to get it up as soon as possible.  If there's no immediate fix, I'll need to switch gears.

[2020-04-21 15:05] brettsam commented on #272
I'm pretty sure that "direction" has never been required for triggers -- so I don't think that is the problem here. This seems like a deployment issue.

- What kind of Function hosting plan are you deploying to? Linux/Windows? Consumption?
- What region?
- Do you get any other error messages when you deploy?
- Would you be willing to share your app name? (feel free to email it to me if you'd like;

[2020-04-21 15:13] arcooke commented on #272
Sure thing.

* Windows, Consumption
* South Central US
* No other errors, only what's been shared above
* curafaxfa

Thank you

[2020-04-21 18:42] brettsam commented on #272
I looked in our logs and while I can see the deployment failures, I don't see any obvious reason as to why they're failing. You may have more details -- could you look in your kudu site (`https://{yoursite}.scm.azurewebsites.net/DebugConsole`) and go to `D:\home\LogFiles\kudu\trace`. Are there any xml files in there that look like they refer to zipdeploy failures and contain any more details?

[2020-04-22 08:36] juskuz commented on #349
Same here. (message as @lee-cordell)

[2020-04-22 12:36] AndreiIarovoi commented on #93
This is how you local.settings.json shoild look like:

{
  "IsEncrypted": false,
  "Values": {
    "bar": "your connection"
  }
}

[2020-04-22 13:28] lee-cordell commented on #349
Hi juskuz, see my response to this stackoverflow post for what worked for me:
https://stackoverflow.com/questions/57779738/error-cannot-load-file-or-assembly-netstandard-version-2-1-0-0/60547077#60547077
thanks

[2020-04-22 13:39] Ruekov commented on #349
I already did that and It didn't work for me with the Entity Framework 6 (Net Standard)

[2020-04-22 17:56] iron9light opened #415 "Do not copy some packages when building (Microsoft.NET.Sdk.Functions@3.0.4+)"
The sample project is as simple as below. No code file.
With Microsoft.NET.Sdk.Functions 3.0.0 ~ 3.0.3, it will copy Newtonsoft.Json.dll and NuGet.Versioning.dll to output bin as expected.
But with Microsoft.NET.Sdk.Functions 3.0.4 ~ 3.0.6. The output bin will not contain Newtonsoft.Json.dll and NuGet.Versioning.dll.

Some other packages can be copied correctly. Maybe all packages name started wit

[2020-04-23 02:29] varun5585 commented on #311
Fixed by moving to the latest version of the SDK  <PackageReference Include="Microsoft.NET.Sdk.Functions" Version="1.0.35" />

[2020-04-23 20:20] clouseryan commented on #199
can confirm I still experienced this in a project I inherited using 1.0.35. blowing away my local nuget and rebuilding the solution fixed the issue for me for anyone who stumbles across this in the future.

[2020-04-23 23:52] zmarty commented on #168
@vijayrkn The issue is not fixed, that is a workaround.

[2020-04-23 23:58] vijayrkn commented on #168
@zmarty I have re-opened. @soninaren - This is an issue in the actual generation. Can you have someone take a look?

[2020-04-29 19:36] bm-evn commented on #344
I know it's not a very good workaround, but I have refactored our Azure Functions project to use a .NET Standard library project for everything but the function binding methods. This allows unit test projects to again go directly to the source (now in the standard lib project) with Go To Definition. It's unfortunate that this bug results in an architectural change to our projects but it does get u

[2020-04-29 20:26] fabiocav commented on #404
@brettsam should this be moved to `Triaged`?

[2020-04-30 17:30] TylerBrinks opened #416 "ReflectionTypeLoadException"
I had a working .Net Core 3 solution that was previously compiling successfully.  The solution has 3 Azure Functions that are using FunctionMonkey.  Each Azure Function makes use of a shared base class to streamline HTTP function creation, authorization, etc.  The project was compiling without issue until recently.  The change that was made been to make a NuGet package out of the library containin

[2020-05-04 22:15] SirFrostingham commented on #215
Has there been any progress update here?

With Visual Studio 2019 ENT, I get this:

SeverityCodeDescriptionProjectFileLineSuppression State Error Metadata generation failed.MyProject.Api C:\Users\user\.nuget\packages\microsoft.net.sdk.functions\3.0.5\build\Microsoft.NET.Sdk.Functions.Build.targets41 Error Stack overflow. MyProject.Api C:\Users\user\.nuget\packages\microsoft.net.sdk.functions\3.0.5

[2020-05-05 00:08] SirFrostingham opened #420 "Metadata generation failed for Azure Functions App v3"
With Visual Studio 2019 ENT, I get this when I build:

`SeverityCodeDescriptionProjectFileLineSuppression State Error Metadata generation failed.MyProject.Api C:\Users\user\.nuget\packages\microsoft.net.sdk.functions\3.0.5\build\Microsoft.NET.Sdk.Functions.Build.targets41 Error Stack overflow. MyProject.Api C:\Users\user\.nuget\packages\microsoft.net.sdk.functions\3.0.5\build\Microsoft.NET.Sdk.Fun

[2020-05-05 19:45] simonness commented on #414
@joelverhagen I bumped into a very similar issue, see https://github.com/Azure/azure-functions-host/issues/5894 for a temporary workaround.

[2020-05-05 19:45] simonness commented on #415
@iron9light I bumped into a very similar issue, see https://github.com/Azure/azure-functions-host/issues/5894 for a temporary workaround.

[2020-05-05 22:12] SirFrostingham commented on #420
Note: I seem to have resolved this environment specific issue. The development machine this reproduced on has been in use for developing a wide range of .net framework type applications.

I posted my solution to this Stack Overflow thread: https://stackoverflow.com/questions/59295465/getting-metadata-generation-failed-when-building-c-sharp-function-app-in-visua

[2020-05-06 17:41] pragnagopa opened #422 "Publish new version - runtimeAssemblies.json updated"
PR: https://github.com/Azure/azure-functions-host/pull/5996, updated list of runtime of assemblies.Need to publish updated version to ensure removed assemblies are not cleaned up.

[2020-05-08 22:53] Zoombara opened #423 "MSBuild publish errors in 3.0.7"
After upgrading to 3.0.7 there are MSB3030 errors when using msbuild publish target as such:
`msbuild project.csproj /t:Publish /m /p:Configuration=Release /p:OutputPath=F:\Project\build`

Perhaps related to changes from #418

Additional context: The dlls/pdbs it is failing to find are from referenced projects.

[2020-05-09 12:56] EmilDamian commented on #272
I have the same issue.
Any function for service bus topic trigger created directly from portal is correct (C# Script function).
Publishing from Visual Studio (C# function): the portal designer see the service bus as an output  binding. Whats going on?

[2020-05-09 16:11] danvanderboom commented on #272
I'm using 3.0.7 (and also tried 3.0.6) of the Azure Functions SDK, and got this error message in the portal. This is for a brand new Functions project using the EventHubTrigger attribute, built in Visual Studio (latest updates as of 5/9/2020).
![image](https://user-images.githubusercontent.com/2482850/81478883-e9cf6980-91d4-11ea-9fb6-6ca69b3f3a1b.png)

[2020-05-09 23:14] mhenderson442 commented on #272
I am experiencing the same thing as @danvanderboom deploying a `ServiceBusTrigger`.

[2020-05-11 03:27] click2install commented on #93
Still happening with `local.settings.json` that has connection strings defined like
[code]
The function triggers look for a value in "ConnectionStrings" so this should be a valid option that doesn't generate a build warning.

[2020-05-11 12:06] devlife commented on #298
Sounds like it might be the same issue? https://github.com/Azure/azure-functions-vs-build-sdk/issues/397#issuecomment-596315129

[2020-05-11 14:03] nkind88 commented on #272
I'm having it with a BlobTrigger.

[2020-05-11 14:03] brettsam commented on #272
As mentioned above (https://github.com/Azure/azure-functions-vs-build-sdk/issues/272#issuecomment-468059181), the "direction" property is not required and this is likely an issue with our schema validation in the portal. Is anyone experiencing runtime issues -- or is this all portal-related?

@ehamai / @ammanifold / @nertim -- what drives the warning that is being shown above? Is it our schema in

[2020-05-11 14:07] brettsam commented on #272
It also looks like the portal isn't rendering this correctly as that image above should be a trigger, rather than an output binding.

[2020-05-11 14:26] nkind88 commented on #272
I can run my code fine locally in VS Community 2019. But I can't get the Function to run on Azure and get this similar to Dan:
![image](https://user-images.githubusercontent.com/33052867/81572965-c86caa00-939b-11ea-94a6-3891fa747cb1.png)

[2020-05-11 14:53] ammanifold commented on #272
@refortie can you help take a look please?

[2020-05-11 18:33] refortie commented on #272
For the portal display issue, we are having some offline discussions on how to handle it. They should still be able to all run correctly. Any runtime issues would be unrelated

[2020-05-13 22:08] mhenderson442 commented on #272
@refortie For what it's worth the issue appears to be a portal display issue. At least for me. I pulled up the same screen on an app that's been running for over a year and saw the same message.

[2020-05-14 04:26] truonggiangdao commented on #272
Hi, I have the same warning message show up on my Blog Trigger. My BlobTrigger functions have been deployed since yesterday and still got getting triggered. While I also have other Blob Trigger functions that work just fine.

[2020-05-15 23:45] cgronseth commented on #405
On Sdk.Functions version 1.0.36 and still has this strange error. I did have work again at Azure.KeyVault version 3.0.3.

[2020-05-19 23:17] mathewc opened #426 "Investigate Generation of Input/Output bindings"
Currently when generating function.json, we only output the trigger binding. The new binding experience in the Functions portal shows a diagram containing all input/output bindings, but this doesn't work for precompiled functions, because inputs/outputs other than trigger are omitted.

We should be able to update the code [here](https://github.com/Azure/azure-functions-vs-build-sdk/blob/3a4efa5d88

[2020-05-20 14:05] jeffhollan commented on #426
Been getting a steady amount of noise from folks confused or concerned by this experience not working today in portal - feel would be worth prioritizing

[2020-05-22 20:09] soninaren commented on #199
Closing the issue since the fix has been merged.

[2020-05-24 17:21] hudec117 opened #427 ""Could not load file or assembly" error with Nuget package when using SDK version >3.0.3"
**Description**

When attempting to use the System.IO.Abstractions Nuget package with Azure Functions I receive the following error:

**Steps to reproduce:**
1. Clone sample repo https://github.com/hudec117/az-pack-test
2. Restore dependencies.
3. run function app `func start --build`
4. Observe "Could not load file or assembly" error.
5. Observe the System.IO.Abstractions DLL is not copied to bui

[2020-05-27 23:41] kcrandall opened #428 "Issue with finding System.Xml.XPath.XmlDocument,."
https://github.com/braintree/braintree_dotnet/issues/96

Please reference this issue. Could not load file or assembly 'System.Xml.XPath.XmlDocument, Version=4.0.2.0'. The system cannot find the file specified. It only happens when using anything greater than 3.0.3. Downgrading to 3.0.3 fixed the issue.

[2020-05-28 08:02] Siboooooo commented on #272
Any solution ???

[2020-05-28 12:42] brettsam commented on #272
Note that this does *not* impact the running of your function, it only impacts the Portal's Integration tab. Precompiled (VS-built) functions have never included the full function.json as this wasn't required, and this doesn't behave well with the new Portal UX.

There will be a series of changes coming to (a) make that clear in the portal while we work to (b) [generate the full function.json](htt

[2020-05-29 17:22] magnen commented on #423
Seems to be the issue for us as well, reverting to 3.0.6 fixed the issue.

[2020-06-01 00:13] Camios commented on #344
It is quite frustrating to have long-standing and expected Visual Studio behaviour such as intellisense and finding references broken.
@brettsam what can we do to convince the team to prioritise a fix for this issue?

[2020-06-01 19:01] Rohit-Indus commented on #272
One quick fix would be to use App Service Editor (in-browser editing) for updating function.json file and adding direction property.

[2020-06-02 12:17] PriceChild commented on #285
@UnoSD FYI https://docs.microsoft.com/en-us/azure/azure-functions/deployment-zip-push#deployment-zip-file-requirements documents the zip contents for zipdeploy.

[2020-06-02 13:32] Rakesh-Gnana-Selvan-888 commented on #272
Hi,
  I am facing the same problem with the following function.json.
{
  "generatedBy": "Microsoft.NET.Sdk.Functions-3.0.7",
  "configurationSource": "attributes",
  "bindings": [
    {
      "type": "httpTrigger",
      "methods": [
        "get",
        "post"
      ],
      "authLevel": "function",
      "name": "req"
    }
  ],
  "disabled": false,
  "scriptFile": "../bin/azwarfunc.dll",
  "e

[2020-06-02 13:44] brettsam commented on #272
Your function.json looks okay. The 404 is unrelated to this warning.

Again, note that this is **not a runtime issue**, but a Portal display issue. Precompiled apps do not emit full function.json files (and never have; they're not strictly required for running). The new Portal UX does not currently handle this scenario so it displays this banner.

**If you are using a .NET Visual Studio precompile

[2020-06-02 13:50] UnoSD commented on #285
thanks @PriceChild

[2020-06-02 15:09] HermanCordes commented on #427
We're currently running into the same issue. We also the System.IO.Abstractions NuGet package. However for us it seems that the Microsoft.NET.Sdk.Functions 3.0.3 is working, while 3.0.4 onwards introduces the problem.

[2020-06-02 19:12] Rakesh-Gnana-Selvan-888 commented on #272
Hi Brett,
  Thanks, It was a pbm with my ARM template it was creating a function app with run time ~1.
I changed it and redeployed again everything is fine.

[2020-06-04 08:22] d4046949 opened #431 "IQueryable table binding with Functions v3"
I'm trying to bind a HTTP function to table storage using runtime v3. I've followed the documenation found in MSDN which mentions that consumers can now get an IQueryable<T>

[code]

I get the following error though

The 'GetBasket' function is in error: Microsoft.Azure.WebJobs.Host: Error indexing method 'GetBasket'. Microsoft.Azure.WebJobs.Extensions.Storage: Can't bind Table to type 'BasketServ

[2020-06-04 18:35] mkallsgard commented on #427
Same issue, but getting the error
"Could not load file or assembly 'System.Interactive.Async, Version=4.1.0.0."

nuget package with the reference will start working when downgrading Microsoft.NET.Sdk.Functions to 3.0.3

[2020-06-05 19:52] vijayrkn commented on #344
We are working on a fix. Please find the attached PR. Hopefully we can get the fix deployed soon. Thanks for understanding.

[2020-06-07 15:59] josefblaha commented on #427
Probably the same issue as [Azure/azure-functions-host#5894](https://github.com/Azure/azure-functions-host/issues/5894). There is also a workaround.

[2020-06-09 11:47] imateev commented on #423
+1

[2020-06-09 18:38] mhoeger commented on #426
@jeffhollan - a quick win would be to add the "direction" property to all triggers, which would avoid this issue (which I think is scaring a lot of folks):
![image](https://user-images.githubusercontent.com/8888531/84185462-e1708580-aa43-11ea-9afe-be3c63d59da7.png)

Generating all of the non-trigger properties is definitely a trickier problem. Example: This blob reference is passed as an input, bu

[2020-06-09 18:41] jeffhollan commented on #426
Agree. I think @brettsam and @fabiocav landed on something similar while portal also implements mitigation - but possible with portal mitigation #1 isn’t as important alone

[2020-06-09 18:45] mhoeger commented on #426
@jeffhollan - addressing item 1 is a very simple (one line) coding change and it doesn't seem like it would hurt so I don't mind adding that either!

[2020-06-15 10:05] RufusJWB opened #433 ""Can't publish Azure Funciton. Getting error: Publish has encountered an error. We were unable to determine the cause of the error.""
I can’t Publish Azure Functions project to certain Azure datacenter.

I tried:

- Deleting Publish Profile
- Redownloading Publish Profile
- Stopping/Restarting Azure Function from portal
- Switching from .Net Core 3.0 to 2.2
- Creating a total new empty project

It works for some datacenter but not for most of them

This is error from the error box in Visual Studio:

And this is the content of th

[2020-06-16 18:26] fabiocav commented on #433
@vijayrkn any recommendations on how to route/handle this?

[2020-06-16 19:20] vijayrkn commented on #433
If this is a for a linux function app, then downloading the publish settings from portal will not work. The publish settings in the portal is web deploy profile and is not supported for Linux.

Can you try selecting the function app from the Visual Studio selection UI and see if it succeeds?

/cc @dariagrigoriu

[2020-06-17 20:56] jwidmer opened #434 "Microsoft.NET.Sdk.Functions v1 versions 1.0.34 and above cause 'Could not load file or assembly Newtonsoft.Json, Version=12.0.0.0'"
I have Azure Function which still needs to be on v1.  I have added Newtonsoft.Json as a project reference:
`<PackageReference` Include="Newtonsoft.Json" Version="12.0.3" />

With 1.0.36:
`<PackageReference` Include="Microsoft.NET.Sdk.Functions" Version="1.0.34" />

I get:
{"Could not load file or assembly 'Newtonsoft.Json, Version=12.0.0.0, Culture=neutral, PublicKeyToken=30ad4fe6b2a6aeed' or one

[2020-06-22 13:44] Asshiah commented on #427
I get the same problem.
With `Microsoft.NET.Sdk.Functions` >= 3.0.4, some dlls from nuget references (direct or indirect) are missing from the bin folder upon build.

[2020-06-22 19:05] KasunKoswattha commented on #397
I understand that <_FunctionsSkipCleanOutput> is an undocumented internal prop. But Since we are using it as a workaround now, can someone please explain what does this exactly do ?

[2020-06-24 03:53] petro2050 commented on #397
I'd also like to know what it does and whether it is safe to keep it checked in to source control because I know I'm going to forget about this soon.

[2020-06-24 13:10] brettsam commented on #397
This property is completely safe and will continue to be supported. We added a feature a few months ago (https://github.com/Azure/azure-functions-host/pull/5626) that takes a pre-determined list of assemblies and deletes them from your output directory after a build or publish. These assemblies are already installed on the server so they were deemed unnecessary. This keeps the published package si

[2020-06-24 13:16] KasunKoswattha commented on #397
Thank you for the clarity there.

[2020-06-24 23:55] petro2050 commented on #397
@brettsam Thanks! Looking forward to a better fix. To me, it sounds like the removal process needs to be smart taking into account the customer's assembly versions in comparison to server assembly versions before removing them.

[2020-07-01 20:06] William-Froelich opened #435 "Unable to build v3 function app due to metadata generation failure"
I've recently updated a project from netcoreapp2.0 to netcoreapp3.1 and v3 function app following the migration guides. Unfortunately, I'm hitting an issue where the metadata generation doesn't work from microsoft.net.sdk.functions.

If I build the project without a reference to the functions package, all the unit tests pass fine but obviously there's no function app enpoints available when loadin

[2020-07-03 00:12] vijayrkn commented on #344
Rename and FindAllReferences should work with 3.0.8 version of v3 package - https://www.nuget.org/packages/Microsoft.NET.Sdk.Functions/3.0.8

Can you try upgrading to this version and see if it fixes all these issues?

[2020-07-03 00:15] vijayrkn commented on #423
Can you try upgrading to the 3.0.8 version?
https://www.nuget.org/packages/Microsoft.NET.Sdk.Functions/3.0.8

The build step has been updated to just copy the files and not move the files. This should fix the above issue.

[2020-07-03 00:18] vijayrkn commented on #384
This issue is already fixed in the latest version.

[2020-07-03 00:18] #384 closed

[2020-07-03 08:47] bendursley commented on #423
@vijayrkn seems to have built fine with 3.0.8!

[2020-07-03 09:49] chrisxpr opened #436 "Microsoft.Data.SqlClient is not supported on this platform with Microsoft.NET.Sdk.Functions 3.0.8"
Hi,

After upgrading this package to the latest version my data access calls start to fail with the message "Microsoft.Data.SqlClient is not supported on this platform."

This is with nuget packages Microsoft.NET.Sdk.Functions 3.0.8 and Microsoft.Data.SqlClient 1.1.3
Project Type is a .Net Core 3.1 Azure Function

If I downgrade back to version 3.0.7 everything works again.

Let me know if you nee

[2020-07-03 15:17] vijayrkn commented on #423
Thanks for the confirmation. Will close this issue.

[2020-07-03 15:17] #423 closed

[2020-07-04 14:38] mr-davidc commented on #436
I am getting the exact same issue. However, the data project which the functions project references has EF Core dependency and so the functions project has no direct reference to the Microsoft.Data.SqlClient package.

Azure Functions Core Tools: 3.0.2630
Function Runtime Version: 3.0.13901.0

I have noticed that the bin\Debug\netcoreapp3.1\bin folder no longer has a runtimes folder included. It is

[2020-07-04 14:51] prabh-62 commented on #436
I am having the same issue. Here are the reproduction steps

- OS: Mac Catalina 10.15.5
<img width="584" alt="apple_spec" src="https://user-images.githubusercontent.com/13006107/86514967-c8a98480-bde3-11ea-9f63-1a370a98c709.png">

- `func` cli version
<img width="318" alt="func_cli" src="https://user-images.githubusercontent.com/13006107/86514983-ec6cca80-bde3-11ea-9887-300dc41e410e.png">

- `cspr

[2020-07-04 14:57] prabh-62 commented on #436
Looks like there is a new release of [Azure functions host -> 3.0.14063](https://github.com/azure/azure-functions-host/releases) that may have the fix for SQL nuget
<img width="676" alt="function_host_releases" src="https://user-images.githubusercontent.com/13006107/86515095-af550800-bde4-11ea-8ae0-0afd2ee1f099.png">

When can we expect new release from [azure-functions-core-tools](https://github.

[2020-07-06 09:20] madushans opened #437 "Version 3.0.8 places the runtimes folder incorrectly"
It seems like `Microsoft.NET.Sdk.Functions` version `3.0.8` places the `runtimes` folder inside `netcoreapp3.1\` instead of `netcoreapp3.1\bin`.

I noticed this breaks the latest version of ImageMagick.NET as it cannot find its native library due to this change. There probably are other libraries affected by this change as well.

![image](https://user-images.githubusercontent.com/2970078/86577425-

[2020-07-06 09:26] raymens opened #438 "Missing release tag for 3.0.8"
The nuget package for 3.0.8 is already listed but there is no way of checking what commits are in there or what's changed.

https://www.nuget.org/packages/Microsoft.NET.Sdk.Functions/

Could you please tag the release?

[2020-07-06 09:28] mr-davidc commented on #437
This is also the cause of #436, at least for me.

[2020-07-06 10:53] madushans commented on #437
Potential workaround if you cannot downgrade to 3.0.7

Put the below in your csproj, which will move the runtimes folder to the expected place after the build completes.
(Not sure if this breaks other things though)

[code]

[2020-07-06 13:43] vdurante commented on #110
Still a problem...

[2020-07-06 14:45] vdurante opened #439 "Declare function in external library"
I am attempting to declare a function in an external library for shared usage across multiple projects/solutions. I have attempted multiple approaches to achieve that, being unsuccessful in all of them. Is it possible to so?

As an example:

`VDurante.Functions` project that becomes a nuget package
[code]

The code above could easily be used across multiple Azure Functions projects, but unfortunat

[2020-07-06 21:02] mwwhited commented on #436
What a lovely surprise... this only you only blew up sqlclient... that is a step in the right direction.  But really...  Come on guys you are better than this.

[2020-07-06 23:34] soninaren opened #441 "Increase the timeout period for zip deploy call"
Right now this http request for zip deploy is using the default timeout. Would be good to match the timeout with the front end.

[2020-07-06 23:35] soninaren opened #442 "Change the Zip Deploy call from sync to async calls"
Related to https://github.com/Azure/azure-functions-vs-build-sdk/issues/441. We may have to convert the msdeploy call to async.

[2020-07-06 23:42] soninaren commented on #441
cc: @balag0 , @vijayrkn

[2020-07-06 23:46] vijayrkn commented on #441
The change needs to happen here - https://github.com/Azure/azure-functions-vs-build-sdk/blob/133a4fc062b953df04e6e64b54756f188d84215c/src/Microsoft.NET.Sdk.Functions.MSBuild/Tasks/Http/DefaultHttpClient.cs#L10

// match the timeout to the server timeout.
//_httpClient.Timeout = TimeSpan.FromMinutes(10);

[2020-07-06 23:47] vijayrkn commented on #442
Call the async version of the zip api here - https://github.com/Azure/azure-functions-vs-build-sdk/blob/133a4fc062b953df04e6e64b54756f188d84215c/src/Microsoft.NET.Sdk.Functions.MSBuild/Tasks/ZipDeployTask.cs#L86

[2020-07-07 03:19] gabriel-society commented on #436
I am getting the exact same issue!
I needed to rollback to 3.0.7 to work again

[2020-07-07 15:47] mhoeger commented on #436
Adding @brettsam since you found this issue before the release rolled out to PROD.

For some context - SqlClient was a dependency of one of our other dependencies and with a version update, we lost that. It's generally not recommended to rely on our implicit references but we definitely know that it's bad to break people in this way (sorry!). Brett please correct me anywhere :)

[2020-07-07 15:55] brettsam commented on #436
Yeah that host didn't even roll out, so this is completely unrelated to any host changes. Something in the build steps broke. I believe something in how we copy assemblies to the output directory.

@vijayrkn -- can you take a look at this and see what could have broken in this release? And please create a release and a tag so we can see the changes that went into 3.0.8.

Right now those changes ar

[2020-07-07 15:59] vijayrkn commented on #436
I think it might be related to this change - https://github.com/Azure/azure-functions-vs-build-sdk/compare/3.0.7..v3.x#diff-d8bcef347a6d5235a4c5ebe81e10ae79L14

@soninaren - Can you please hold off on updating all templates with 3.0.8 until this issue is resolved? will try to get the fix in today.

[2020-07-08 00:54] vijayrkn commented on #442
This issue is a dupe of https://github.com/Azure/azure-functions-vs-build-sdk/issues/413

[2020-07-08 00:54] #442 closed

[2020-07-08 01:09] vijayrkn commented on #438
https://github.com/Azure/azure-functions-vs-build-sdk/releases/tag/3.0.8

[2020-07-08 01:09] #438 closed

[2020-07-08 01:10] #344 closed

[2020-07-08 16:02] bfmsoft commented on #436
Hey its not like anyone uses SQL Server in their functions.

[2020-07-09 06:56] sukesh-ak commented on #199
Which SDK version is this fix available now?
Tried different version of SDK nuget and it still fails in the latest one.

Compile and Build works but this error happens during Publish phase

2>The "TaskAssemblyDirectory" parameter is not supported by the "GenerateFunctions" task. Verify the parameter exists on the task, and it is a settable public instance property.
2>The "GenerateFunctions" task c

[2020-07-09 13:24] vijayrkn commented on #199
@sukesh-ak - Thank you for reporting this and sorry to hear that you are running into this issue. I can see why this is happening for 3.0.8. There was a breaking change in the task assembly contract and the assembly version was not changed as part of this update. Will get this fixed in 3.0.9. Until then I would suggest to keep the Functions sdk at 3.0.7.

There is also another issue with 3.0.8 tha

[2020-07-09 18:23] sukesh-ak commented on #199
Thanks @vijayrkn
What is the timeline for 3.0.9?
I mean where do I track this? Is there a separate issue to track this, since this one is already closed?

[2020-07-09 18:27] vijayrkn commented on #199
@sukesh-ak - I have re-opened it. Please note that this is an issue only with 3.0.8. Others versions should work correctly since v1, v2 & v3 have different assembly versions and can load side by side. Will make sure that the next change will take care of this issue permanently and further changes wouldn't be required.

[2020-07-09 22:53] vijayrkn commented on #433
Closing since we don't have enough information to reproduce or fix this issue.

[2020-07-09 22:53] #433 closed

[2020-07-09 22:54] vijayrkn commented on #415
dupe of https://github.com/Azure/azure-functions-host/issues/5894

[2020-07-09 22:54] #415 closed

[2020-07-09 23:11] vijayrkn commented on #317
Sorry for the late response on this. Can you please try the same scenario with the latest version of Visual Studio 2019 and see if you are still running into the issue?

[2020-07-09 23:11] #317 closed

[2020-07-09 23:19] vijayrkn commented on #308
Compared the two: New project dialog is missing the Durable functions & SendGrid.

@Zdhalzel - Since you are working in this area, can you take care of adding these 2 missing templates to the create new project dialog?

![image](https://user-images.githubusercontent.com/3981619/87099754-701d2180-c1ff-11ea-9cc9-a6cb27627c30.png)
![image](https://user-images.githubusercontent.com/3981619/87099762-76

[2020-07-09 23:21] vijayrkn commented on #298
Dupe of https://github.com/Azure/azure-functions-host/issues/5894

[2020-07-09 23:21] #298 closed

[2020-07-10 08:29] PramodValavala-MSFT commented on #439
While not documented, there seems to be a [`FunctionsInDependencies`](https://github.com/Azure/azure-functions-vs-build-sdk/commit/101e4ced4fa5d489883a45bf28821df42064dd65)  property that you can set in your `csproj` for functions in assemblies to be scanned as well.

[2020-07-10 12:00] vdurante commented on #439
@PramodValavala-MSFT omg I can't believe it. That is amazing. Thank you so much!

[2020-07-10 12:00] #439 closed

[2020-07-10 14:24] YalamanchiliBhavana commented on #272
i am facing the same issue with service bus topic trigger. it doesn't trigger and when looked closely the direction attribute was missing in function.json. Has anyone found the apt solution?

[2020-07-10 14:30] brettsam commented on #272
Direction is not required and not related to your SB trigger not triggering. If you're seeing issues with that, please open a separate issue (or check your app logs for an error explaining what the issue may be).

[2020-07-10 16:26] vijayrkn opened #444 "Make v3 the default branch and create release branches for v1 & v2"
Currently the master branch targets v1 & v2. We have a separate branch for v3. Now that v3 has GA'd, we can switch the master branch to v3 code and make release branches for v1 & v2.

/cc @soninaren @brettsam @fabiocav

[2020-07-10 17:24] YalamanchiliBhavana commented on #272
there are no errors logged in the logs.The function itself is not triggering.When we create a function through portal it triggers fine but when the function is created in vs 2019 and deployed through CI/CD pipeline then the function doesn't triggers.I have manually update the function.json and included direction attribute, then it triggers fine.

[2020-07-10 17:48] brettsam commented on #272
If you could share your Function App name (either explicitly or [privately](https://github.com/Azure/azure-functions-host/wiki/Sharing-Your-Function-App-name-privately)), I can see if I find anything from the backend logs.

[2020-07-10 18:21] YalamanchiliBhavana commented on #272
Function Started TimeStamp : 2020-07-10 18:13:15.237
 Id=884deaad-9d69-4466-859d-c53248c208e5
Execution Timestamp : 2020-07-10 18:13:15.243

[2020-07-10 19:35] rsphife commented on #435
Any update on this? I repro'ed the issue here: https://github.com/rsphife/MetadataGenerationError

I initially ran into this same issue while attempting to upgrade a V2 functions app on 2.2 to V3 on 3.1. The repro linked above though is from a fresh V3 functions app. The issue appears to be related to the Microsoft.AspNetCore.Mvc.NewtonsoftJson package.

The steps for my repro are:
- Create an emp

[2020-07-10 19:40] vijayrkn commented on #444
Proposal:
1. Rename the master branch to release/v2
2. Find the label corresponding to the v1 version and branch to release/v1
3. Rename v3.x branch to Main and change the default branch to Main

[2020-07-11 07:08] jaelys opened #445 "Version 3.0.8 in DI IStringLocalizerFactory can't get resx resources correctly"
3.0.8 in Azure Function V3 Use DI IStringLocalizerFactory

[code]
        msg is key name , can not get vallue

Reply to 3.0.7, everything succeeds

[2020-07-11 23:11] William-Froelich commented on #435
I haven't found any workarounds for it. We need Microsoft.AspNetCore.Mvc.NewtonsoftJson in our project, so I can't remove it.

[2020-07-11 23:22] cloudlene commented on #298
@vijayrkn Not sure how this issue is a “dupe” of the the linked “feature”. This issue was raised first in 2018. @brettsam Could you comment on whether your implementation would address this issue?

[2020-07-12 21:27] vijayrkn commented on #298
@cloudlene - the original publish issue is already fixed. The only remaining known item that I know of is the issue that I linked.

Devs can use this property to bypass the auto-skimming of the output folder.

`<_FunctionsSkipCleanOutput>true</_FunctionsSkipCleanOutput>`

[2020-07-13 05:13] vijayrkn commented on #262
This is done. Closing.

[2020-07-13 05:13] #262 closed

[2020-07-13 05:17] vijayrkn commented on #285
You can create a profile with Zip deploy & pass in the profile to publish command. This should work. Also, I have removed the packoverride target in the latest version. so closing.

[2020-07-13 05:17] #285 closed

[2020-07-13 16:02] YalamanchiliBhavana commented on #272
@brettsam did you get a chance to check it from your end?

[2020-07-13 21:49] William-Froelich commented on #435
I removed the  AddMvcCore().AddNewtonsoftJson() call from my code and any references to NewtonsoftJson as a test (not sure if it works at runtime.

However, a new build issue cropped up:
[code]

I was able to work around this by downgrading Microsoft.AspNetCore.OData to 7.2.3 (before support for NetCore 3.1 was added) and it seems to be happy now.

So is the issue here that these libraries (Micros

[2020-07-14 00:40] Durkee commented on #436
It didn't take up too much of my time.  I went back pretty fast.  I would have yanked 3.0.8 though.

[2020-07-14 01:15] vijayrkn commented on #199
https://www.nuget.org/packages/Microsoft.NET.Sdk.Functions/3.0.9

[2020-07-14 01:15] #199 closed

[2020-07-14 01:15] vijayrkn commented on #383
https://www.nuget.org/packages/Microsoft.NET.Sdk.Functions/3.0.9

[2020-07-14 01:15] #383 closed

[2020-07-14 01:16] vijayrkn commented on #436
https://www.nuget.org/packages/Microsoft.NET.Sdk.Functions/3.0.9

[2020-07-14 01:16] #436 closed

[2020-07-14 01:16] vijayrkn commented on #437
https://www.nuget.org/packages/Microsoft.NET.Sdk.Functions/3.0.9

[2020-07-14 01:16] #437 closed

[2020-07-14 01:16] vijayrkn commented on #445
https://www.nuget.org/packages/Microsoft.NET.Sdk.Functions/3.0.9

[2020-07-14 01:16] #445 closed

[2020-07-14 04:01] vijayrkn commented on #398
Tried the same steps in the tutorial with the latest version of functions sdk & VS 16.6.3 and it works as expected.

[2020-07-14 04:01] #398 closed

[2020-07-14 06:33] sukesh-ak commented on #199
Thanks. Tested and it works now with 3.0.9

[2020-07-14 19:14] William-Froelich commented on #435
What's the correct way to work around this? Using the latest OData still causes the "Failed to resolve assembly" error for Mvc.Core 3.1.0.

I have some proprietary libraries for netcoreapp3.1 we're trying to pull in as well and they're also hitting this issue with the Functions SDK. When they are included in my Function app, it build fine without the Functions SDK and passes unit tests. It's just

[2020-07-15 15:04] Rocinante89 opened #448 "Recommended way to Handle EfCore Migrations"
I'm wondering what the best practices are around using ef core for migrations and db updates? Up until now I have been relying on [https://dev.to/azure/using-entity-framework-with-azure-functions-50aa](Jeff Hollan's) article, but the postBuild step for copying the project no longer seems to work with the latest versions of the sdk.

Is this still required?

[2020-07-15 15:44] vijayrkn commented on #448
@Rocinante89 - Which version of functions sdk?

[2020-07-15 16:05] Rocinante89 commented on #448
@vijayrkn 3.0.9?

[2020-07-15 16:25] vijayrkn commented on #448
With that version, you don't need to manually copy it any more. The dll should get copied automatically.

[2020-07-15 16:58] Rocinante89 commented on #448
Perfect, thanks!

[2020-07-15 17:02] joe-bethke opened #449 ""The binding type(s) 'eventHubTrigger' are not registered" - AzureFunctionsVersion v3 - .NET Core 3.1"
I am attempting to run an azure function, written in .NET Core 3.1, using Azure Functions Version v3. I'm on MacOS. I've used I'm running this function locally using `func start`. Upon running my function, I'm seeing an error message show up saying that my binding is not registered:

[code]

This is occurring using `Microsoft.NET.Sdk.Functions v3.0.5`

For reference, here is my `.csproj` file:
[co

[2020-07-15 23:16] ramiglez30 commented on #397
This issue is still alive. I just happen to me with AzureFunction v3 and updating System.IdentityModel.Tokens.Jwt from 6.6.0 to 6.7.1.  The fix here did worked.

[2020-07-15 23:19] brettsam commented on #397
@ramiglez30 -- to be clear, you were updating your dependency, saw that it failed, then used the property above to fix it?

[2020-07-15 23:20] ramiglez30 commented on #397
Yes. I did and it worked. Thanks!

[2020-07-16 01:10] vijayrkn commented on #110
Is the intent here to add functions with the references to a NuGet package and use this NuGet package in other function projects?

If so, why not package using a simple NetStandard class library project?

e.g: You can put all the cs files under the resources folder and add all the required references. when this project gets packaged, it will include the functions content and references.

Packaging

[2020-07-16 01:17] SimonLuckenuik commented on #110
The goal of the initial request was to be able to develop code in libraries which are using versions exactly aligned with the Functions SDK versions, to prevent using versions which are too new vs the Azure Functions runtime. For example, back when the issue was raised, pointing to the wrong version of the Azure Storage library would cause Azure Functions to break. By adding a reference to Microso

[2020-07-16 01:33] vijayrkn commented on #110
@SimonLuckenuik - Thanks for the quick response and explanation. I see your point.  In the latest 3.0.9 version of the sdk, I have removed the code where publish was overriding pack.

https://github.com/Azure/azure-functions-vs-build-sdk/commit/0992e21cc695c18b08bcf9de22ca0dc2dcab9713#diff-60eb2d9d1ecbc014c8c0a62346773539L20-L35

Even though this is removed, one of the dependent packages block the

[2020-07-16 01:48] SimonLuckenuik commented on #110
@vijayrkn, exactly for the dependency graph you are referring to, that would do the trick.
Currently, in order to be aligned we need to visit the complete graph for each of the dependencies listed and make sure we have the exact same versions.

With a package with the dependencies, it would allow us to simply refer to that one and any conflict for mismatching versions would be flagged by nuget. Fo

[2020-07-16 02:00] vijayrkn commented on #110
Thanks for the input. Shouldn't be hard to implement but lets see what @fabiocav thinks about this approach.

[2020-07-16 10:31] realrubberduckdev opened #450 "Inconsistency in azure functions csproj copying of dependency json"
On build, the json file in a dependency project is copied to root of output, but the dependency dll is copied into bin folder.

Steps:
- Unzip the provided solution [JsonCopyIssue.zip](https://github.com/Azure/azure-functions-vs-build-sdk/files/4930878/JsonCopyIssue.zip)
- Restore packages
[code]
- Build
[code]
- Notice output:
In `JsonCopyIssueLib` project the `Simple.json` is present at build ou

[2020-07-16 18:22] vijayrkn commented on #450
@realrubberduckdev - Thank you for reaching out. We have improved this experience in the latest version of the sdk. If you upgrade to 3.0.9, you will see that the output will match for the most part except for the fact that there will be an additional bin folder (bin\Debug\netcoreapp3.1\bin) for the function app with the dlls & required dependencies. This folder will just contain the required depe

[2020-07-17 09:07] realrubberduckdev commented on #450
@vijayrkn Sorry for the delayed response, I just got time to check this.

Did you check if version 3.0.9 actually works?

With 3.0.9, behaviour is the same. The `Simple.json` file is at the root of the output folder. The bin folder doesn't have it. Is this the expected behaviour?
Or maybe it is by design and my question is not valid, maybe that's why this issue was closed.

[2020-07-17 15:00] vijayrkn commented on #450
You are right. We only copy the dlls to the bin folder. Re-opening.

[2020-07-20 01:03] rupeshtech opened #451 "Could not load file or assembly System.Runtime, Version=5.0.0.0 for azure function v3 with net5.0"
I have create an Azure function (**HTTP trigger**) with **.NET 5.0**.
Following the project config
[code]

I am also using DependencyInjection

[code]

When running the function, I get following error

***Could not load file or assembly 'System.Runtime, Version=5.0.0.0,***

[2020-07-20 07:11] kyajiv opened #452 "SocketsHttpHandler doesn't log http dependency in application insights"
Version - .NET Core 3.1, Microsoft.NET.Sdk.Functions 3.0.3

            // this log dependency in app insight
            var httpClient1 = new HttpClient(new HttpClientHandler());
            await httpClient1.GetAsync("https://reqres.in/api/users");

            // this doesn't log dependency in app insight
            var httpClient2 = new HttpClient(new SocketsHttpHandler());
            await

[2020-07-20 22:19] William-Froelich commented on #435
Is there additional information I need in order to get to get this triaged?

[2020-07-22 15:36] RotateAt60MPH opened #453 "Remote debug Azure function fails/crashes VS2019"
VS2019 16.6.2

I tried two things, attaching using Cloud Explorer and 'manually' connecting via 'Attach to Process'.

In App Service, I enabled Remote Debugging, with 2019 Visual Studio Version

Using Cloud Explorer: steps to repro:

- in Visual Studio Cloud Explorer select to App Service
- click 'Attach Debugger' action
- see progress dialog: "finding process to attach to"
[code]
Using Attach to

[2020-07-23 19:58] lucavgobbi commented on #428
I'm having the same issue as referenced by @hollabaq66, please refer to https://github.com/braintree/braintree_dotnet/issues/103
I've tested with both Microsoft.NET.Sdk.Functions 3.0.7 and 3.0.8

[2020-07-23 20:15] vijayrkn commented on #428
Looks like a dupe of this https://github.com/Azure/azure-functions-host/issues/5894

try setting this in the csproj

[code]

[2020-07-23 20:53] lucavgobbi commented on #428
Thanks for the answer @vijayrkn.

I'll try this locally but for my production environment. I think it is safer to just rollback to Microsoft.NET.Sdk.Functions 3.0.3 since we've already tested that version, furthermore from what I understood _FunctionsSkipCleanOutput is still not fully documented.

Any ideas what changed after 3.0.3 that could have broke it?

[2020-07-23 20:58] vijayrkn commented on #428
@lucavgobbi - The issue has details on what changed.

[2020-07-23 22:17] yojagad opened #454 "Hide Self-Contained from publish profile while deploying from VS"
![image](https://user-images.githubusercontent.com/26885664/88343944-6e6f5580-ccf7-11ea-8486-b271addb36ba.png)

There was an issue where someone deployed with this option and was wondering why the function app was not working in Azure.
https://github.com/Azure/azure-functions-host/issues/6394

[2020-07-23 23:52] vijayrkn commented on #308
Fixed.

[2020-07-23 23:52] #308 closed

[2020-07-23 23:53] vijayrkn commented on #453
Can you please file the issue from Visual Studio : Help -> Send Feedback -> report a problem. This will provide us with all the required log information to diagnose and fix the issue.

[2020-07-23 23:53] #453 closed

[2020-07-24 06:00] miqm commented on #422
@pragnagopa - is this going to ever be released? We have end of July, netcore3.1 is solid and azure functions are still removing too much from build output.

[2020-07-24 10:54] jaelys commented on #445
Use 3.0.9 Deployed to Azure Function, but encountered problems
![擷取](https://user-images.githubusercontent.com/3773408/88384485-10b63880-cddf-11ea-9e04-6260979a556e.PNG)

[2020-07-24 13:52] pragnagopa commented on #422
@miqm - Thanks for the reminder. Host changes are still rolling out.  Will address this as part of next sprint. ETA 2 weeks from now.

[2020-07-24 13:55] pragnagopa commented on #422
cc @brettsam  as FYI

[2020-07-26 08:42] miqm commented on #427
For me the problem was that Microsoft forgot (sic!) to publish updated runtime dependencies list (see #422) when aspnetcore3.1 was released.

As Azure Functions run on aspnet core and our DLL is part of that executable, some dependencies would need to be aligned. However the challenge here is to keep host assemblies and build sdk assembly list aligned, so they do not duplicate.

If you need full c

[2020-07-26 09:33] miqm commented on #422
@pragnagopa - if it's not too late, I'd like to point, that "System.Diagnostics.Source" is not on the list, while IMHO it should be.

Just recently I've upgraded EFCore to 3.1.6 which upgraded System.Diagnostics.Source to 4.7.1. On FunctionApp Host is 4.7.0 and it gives me runtime errors when trying to use types from that assembly.

[2020-07-27 15:55] pragnagopa commented on #422
@miqm - Assuming you are referring to `System.Diagnostics.DiagnosticSource` can you please open a separate issue for this? Attaching a simple repro would help.

[2020-07-27 16:43] ziadakiki commented on #435
I'm having the same error. I'm using the `Microsoft.Azure.Functions.Extensions` and when I remove it, the project builds.

[2020-07-28 04:39] pedromvgomes opened #455 "Error loading Microsoft.CodeAnalysis or dependencies"
From version 3.0.3 up it is not possible to have a function that somehow compiles code or uses CSharp Scripting. It was working on 3.0.2.

Please check [https://github.com/Azure/azure-functions-host/issues/5796](https://github.com/Azure/azure-functions-host/issues/5796)

[2020-07-29 02:59] jaelys opened #456 "Use 3.0.9 Deployed to Azure Function, but encountered problems"
![擷取](https://user-images.githubusercontent.com/3773408/88751570-7103fc00-d18a-11ea-95b2-9a218c24b5ec.PNG)

related question #455

[2020-07-29 16:46] RamonGiovane commented on #199
I've faced this problem as well, sometimes while trying to Rebuild or Publish and constantly whilhe trying to Batch Build the entire solution.
I have two function apps in my solution. One was using `Microsoft.NET.Sdk.Functions 1.0.29` and another using `1.0.31`.
After I set them both in version `1.0.29 `,  the error gone. Cheers!

[2020-07-29 18:01] npnelson opened #457 "Azure Function running in Linux Docker container unable to use Microsoft.CognitiveServices.Speech - problem copying native dependencies?"
I am unable to use `Microsoft.CognitiveServices.Speech` to recognize speech within an Azure Function running in a Linux Docker container.

The same code works when running in a Linux Docker container using an ASPNET.Core webapp instead of a function app. It also works fine when running the Azure Function app locally on Windows.

clone https://github.com/npnelson/AzureFunctionSpeechSDKSample to rep

[2020-07-31 08:48] jimmyvdberg commented on #199
I still have this issue with 3.0.9. Tried clearing this `%userprofile%\.nuget\packages\microsoft.net.sdk.functions\` folder but that did not work as well.

[2020-07-31 15:16] srikanthnd commented on #397
Does this mean anything in terms of performance (execution/ assemblies loaded during runtime) for Azure Functions as the package size is bigger without cleanup being performed?  How do we keep ourselves informed about the changes related to this in the future, lets say when you would have a timeline defined? would there be a consideration to upgrade the project file to remove this prop?  Because t

[2020-08-01 05:43] valkn0t commented on #349
Still an issue here. Why can't we reference Net Standard 2.0 or 2.1 class libraries from a Function App targeting NetCore 3.1?
Builds just fine. But when I try to publish the Function App, the extensions don't get written, dependencies don't get found.

**Error when publishing:** ` .nuget\packages\microsoft.azure.webjobs.script.extensionsmetadatagenerator\1.1.8\build\Microsoft.Azure.WebJobs.Script

[2020-08-03 17:24] joe-bethke commented on #449
I did some more digging on this issue - I was able to fix it by downgrading:

`<PackageReference Include="Microsoft.Azure.WebJobs.Script.ExtensionsMetadataGenerator" Version="1.1.8"/>`

to
`<PackageReference Include="Microsoft.Azure.WebJobs.Script.ExtensionsMetadataGenerator" Version="1.1.6"/>`

[2020-08-03 17:24] #449 closed

[2020-08-05 00:08] vijayrkn commented on #433
Please check your output log and see if you see a similar error error message in the build output. If yes, this is because the zip deploy timed out.

[code]

You can change zip deploy to web deploy if you are using windows functions by unchecking this checkbox.

![image](https://user-images.githubusercontent.com/3981619/89357304-f13bcd00-d674-11ea-9072-84012f52a20a.png)

We will increase the defau

[2020-08-05 20:29] fabiocav commented on #422
This is part of the build. The work left is to release to NuGet

[2020-08-06 18:30] prabh-62 opened #460 "Could not load file or assembly 'System.IdentityModel.Tokens.Jwt, Version=6.7.1.0"
## Steps to Reproduce

- Ensure you have Azure Functions V3 `func` CLI from [Github releases](https://github.com/Azure/azure-functions-core-tools/releases) and .NET Core 3.1 SDK
- `> func --version`
   `3.0.2630`
- `> func init ImageService --dotnet`
- `> cd ImageService`
- `> func new -l C#` Create new function with HTTP trigger
- `> dotnet add package System.IdentityModel.Tokens.Jwt`
- Update co

[2020-08-06 18:34] prabh-62 commented on #460
As per [this comment](https://github.com/Azure/azure-functions-vs-build-sdk/issues/397#issuecomment-596315129), I understand we can use property `<_FunctionsSkipCleanOutput>true</_FunctionsSkipCleanOutput>` in `*.csproj` file however it feels more like a workaround and we would like a better solution

[2020-08-06 19:58] vijayrkn opened #461 "[Improvements] Perf improvements"
Pass a clientRequestHandler into the HttpClient constructor that sets the accept-encoding to gzip;deflate for better compression (e.g performance) on the responses

[2020-08-10 21:00] marcoscheel opened #462 "This project cannot be packaged because packaging has been disabled"
I've upgraded one of my functions to the latest Azure Function SDK (Nuget = Microsoft.NET.Sdk.Functions). With version 3.0.9 I get the error message if I try to pack the project in Visual Studio 2019 (Preview = Version 16.8.0 Preview 1.0):

Warning		This project cannot be packaged because packaging has been disabled. Add <IsPackable>true</IsPackable> to the project file to enable producing a packa

[2020-08-10 21:48] vijayrkn commented on #462
With 3.0.8 did it create a package?

[2020-08-11 11:56] marcoscheel commented on #462
Yes. Thats what I tried to communicate with my last sentence:

Sorry.

[2020-08-12 13:41] lkurzyniec commented on #460
Experienced the same here
[code]

[2020-08-12 19:35] dnl1 commented on #427
I was facing the same problem, but only when running Azure Function with Container, the function host doesnt even start, I downgraded `Microsoft.NET.Sdk.Functions` to 3.0.3 version and now is running ok, I'm still getting 500 at function endpoint, only on AZ Function running in a Container gets error (without is ok)

[2020-08-12 20:14] Marusyk commented on #349
I get the message: System.IO.FileNotFoundException: 'Could not load file or assembly 'netstandard, Version=2.1.0.0, Culture=neutral, PublicKeyToken=cc7b13ffcd2ddd51'. The system cannot find the file specified.' It's causing me a pretty urgent issue.

[2020-08-12 20:40] fabiocav commented on #349
@Marusyk this is closed because the issue originally reported was previously addressed by the associated PR.

Are yop running into an issue at build time? Can you please open a new issue with the details so we can investigate? Thanks!

[2020-08-13 11:55] RufusJWB commented on #433
I'm still seeing this issue:

with

and

I don't know, what time outs you are using, but I'm in a corporate office with very fast Internet connection

[2020-08-13 22:03] fabiocav commented on #337
@codebased are you still experiencing issues with this?

[2020-08-13 22:04] fabiocav commented on #451
@rupeshtech .NET 5.0 is not currently supported by Azure Functions, hence the error.

[2020-08-13 22:04] #451 closed

[2020-08-14 02:05] smileyiori commented on #462
I have a similar issue. When I update to 3.0.9 my task in the pipeline does not pack my function:

[code]

[2020-08-15 13:43] rupeshtech commented on #451
@fabiocav  Thanks for the response.

any idea, when can we expect support for .NET 5.0 by Azure functions.?

Shall I close this issue?

[2020-08-18 11:23] ChristianSnijderAmbusuite opened #463 "An assembly specified in the application dependencies manifest (FunctionApp.deps.json) was not found"
Good day!

I upgraded my AF project to v3  by creating a clean solution with EntityFrameworkCore and no matter what I try (from all the comparable previous Issues I could find) my problem does not get solved. All migration actions (Initial/ Add/ Scaffold) result into:

Build started...
Build succeeded.
An assembly specified in the application dependencies manifest (FunctionApp.deps.json) was not f

[2020-08-19 12:03] rodneyjoyce commented on #435
I think I had similar issues. I made a new Timer app using VS2019 and did not change any code. I upgraded to latest non-preview dependencies and received the error "No job functions found. Try making your job classes and methods public". I downgraded Functions sdk to version 3.0.7 and it the timer worked.

[2020-08-21 01:01] #337 closed

[2020-08-24 10:32] Alex-Sob commented on #110
If you're creating a shared library, the workaround could be to remove reference to Microsoft.NET.Sdk.Functions and instead reference some packages that Microsoft.NET.Sdk.Functions depends on. For example, I resolved this by replacing it with a reference to Microsoft.Azure.WebJobs.Extensions.Http that our library actually depends on.

[2020-08-24 21:22] vijayrkn opened #464 "Static files are being excluded during publish"
Creating the issue on behalf of the Visual Studio customer. Details of the issue are available here - https://developercommunity.visualstudio.com/content/problem/1157365/static-files-are-being-excluded-during-publish.html

[2020-08-25 09:51] paulhasell commented on #385
I have the same issue, the suggested method of updating the csproj doesn't work as it leads to the compiler error above from nuget package manager. the nuget package is still tied to the explicit =9.0.1 not >=9.0.1. The release history implies that the newtonsoft version for 1.0.24 was updated to a higher version, so are the nuget dependencies out of date?

As a D365/CDS developer I'm locked on v1

[2020-08-25 13:40] hultqvist commented on #464
This bug was introduced somewhere between
2020-08-13 (Last time a publish was successful) and
2020-08-20 (when the bug was discovered).

[2020-08-26 15:57] daerhiel commented on #389
I've found that startup attribute stops working if project has reference to user secrets id, try removing it.
`     <UserSecretsId>xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx</UserSecretsId>
`

[2020-08-27 13:29] rari2012 commented on #389
Thanks for this hint @daerhiel  - worked for me immediatly!
But, now it seems to be insecure - so - this is just a workaround - but have to be fixed i guess.
So i wil investigate further. Found this article and will try to follow that one: https://damienbod.com/2020/07/12/azure-functions-configuration-and-secrets-management/
Mybe this is also helpful for others.

[2020-08-27 15:55] daerhiel commented on #389
Well, I'm not sure how about azure functions, but the UseSecretId in project is just for local instance development to create the sucere key repository. I don't think that this key is used wherever else, as it only exists in the project file, and never goes to the binary.

[2020-08-27 16:08] rari2012 commented on #389
Got it. @daerhiel .
Thanks.

[2020-08-31 10:00] DenisBalan commented on #455
see Azure/azure-functions-host/issues/5796
for detailed explanation on why it happends and how to fix it (easy fix through) ;)

[2020-08-31 20:09] josh-endries opened #465 "Microsoft.NET.Sdk.Functions >3.0.3 can't find dependency DLLs"
If I have a v3 Function using netcoreapp3.1 that references a netstandard2.1 project, and that project includes a dependency. The Function can't load at least one of those dependency assemblies. For example, the Function project:

[code]

The dependency project:

[code]

The error:

[code]

Adding the problem package directly into my Function app didn't help, but changing the SDK package back to 3

[2020-08-31 22:38] #458 closed

[2020-09-01 13:48] brettsam commented on #458
Moving this to the sprint that it was actually closed in.

[2020-09-03 11:41] FinVamp1 commented on #309
@vijayrkn this came up again for Local debugging. If you set     <RuntimeIdentifier>win-x86</RuntimeIdentifier> in the Proj file we will still run under the 64 Functions Tools and fail with the same exception.

"Could not load file or assembly 'FunctionApp1, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null'."

You can download the 32 Bit Core Tools and target this directly. Is there any plans

[2020-09-03 15:30] vijayrkn commented on #309
@FinVamp1 - You can set the environment variable `Prefer32bit_Environment` to 1 and VS will use the 32 bit functions tools.

[2020-09-08 10:30] javvids opened #468 "Random error related to InvalidCastException i.e. Unable to cast object of type 'Newtonsoft.Json.Converters.StringEnumConverter' to type 'Newtonsoft.Json.JsonConverter'."
In the AppInsight Log it says Newtonsoft.json ver 11.0.0 even though we are using the 12.0.3.
Microsoft.Azure.WebJobs ->3.0.6
Microsoft.NET.Sdk.Functions->3.0.7
TargetFramework-> netcoreapp3.1
AzureFunctionsVersion-> V2

System.InvalidCastException:
   at Newtonsoft.Json.Serialization.JsonTypeReflector.GetJsonConverter (Newtonsoft.Json, Version=11.0.0.0, Culture=neutral, PublicKeyToken=30ad4fe6b2a

[2020-09-08 15:23] sspradhan1 opened #469 "SAST issue with Azure Function StartUp file for HttpCookie and Secure Cookie"
We are using Azure function .net SDK for writing httptrigger, timetrigger azure functions. When we ran the SAST scan using Checkmarx, we are getting following two issues:
1. The web application's IWebJobsStartup method creates a cookie Startup, at line -- ----------/Startup.cs, and returns it in the response. However, the application is not configured to automatically set the cookie with the "http

[2020-09-09 11:04] adamjames commented on #427
I had the same issue with referencing System.IO.Abstractions. For us it was being referenced by a second nuget package on which the function depends.  Downgrading fixed the problem.

We thought it may have been related to the dependency possibly being transient with respect to the function, but even directly adding a reference to the package directly didn't resolve it, so it was quite the head-scr

[2020-09-11 17:39] klenium commented on #110
@Alex-Sob Thank you so much, with that step I'm able to generate the package.

[2020-09-12 06:35] giuliov commented on #465
I noticed a similar issue after updating from 3.0.2 to 3.0.9: about 80 dependent DLLs disappeared from the publish output.

[2020-09-15 23:25] fabiocav commented on #451
@rupeshtech we don't currently have an ETA, but that's something we're working on. Once we have a preview available, that will be posted in our announcements repo and usual channels (e.g. Twitter and blogs)

[2020-09-17 08:48] TechWatching opened #470 "[BUG] Error in Functions SDK 3.0.9 : TimerTriggerAttribute could not be found"
**Describe the bug**
When upgrading to Microsoft.NET.Sdk.Functions 3.0.9, the following error occurs:
`The type or namespace name 'TimerTriggerAttribute' could not be found (are you missing a using directive or an assembly reference?)`

The concerned code is the following :
[code]
It works fine in 3.0.8.

[2020-09-18 15:07] brettsam commented on #470
@TechWatching -- could you share your entire csproj file?

FYI -- @vijayrkn

[2020-09-18 15:11] TechWatching commented on #470
Yes sure
[code]

[2020-09-18 17:57] mj1856 opened #471 "Need Microsoft.NET.Sdk.Functions update for Microsoft.Azure.WebJobs.Extensions 4.0.1"
`Microsoft.NET.Sdk.Functions` 3.0.9 depends on `Microsoft.Azure.WebJobs.Extensions` (>= 3.0.0 && < 3.1.0)

`Microsoft.Azure.WebJobs.Extensions` now has a version 4.0.1.

An update to `Microsoft.NET.Sdk.Functions` is needed to use it.

[2020-09-22 09:54] NaanKaran commented on #389
This one worked for me

[2020-09-23 16:00] peterwurzinger opened #472 "Dependency mismatch when using Entity Framework Core 5.0 from Functions app"
I tried to migrate one of our apps (Azure Functions v3, .NET Core 3.1) from using Entity Framework Core 3.1 to Entity Framework Core 5.0 (RC 1).

Even after several hours of trying, i couldn't get around this error:
[code]

Did I miss an announcement, that this scenario isn't supported? Since Entity Framework Core only depends on netstandard2.1 I expected it to be usable from a v3/netcoreapp3.1 ap

[2020-09-23 17:25] drdamour opened #473 "Startup Extension Missing when Bringing in Razor RuntimeCompilation (and a few further issues)"
i'm pretty sure this is just me not understanding, and going off the approved path.  I've glued Razor to Azure Functions based on https://github.com/EtiennePeeters/AzureFunctionsRazorEmailTemplateSample but wanted to try RuntimeCompilation (in local debug mode only) and ran into a whole host of issues.  I believe these are all somehow related to the Microsoft.NET.Sd.Functions stuff.  I spent a few

[2020-09-25 22:18] RsundararajanRTG commented on #471
We are in the Same boat....we like to update to Microsoft.Azure.Webjobs.Extensions 4.0.1

[2020-09-30 02:19] agr opened #474 ""Static" logger in functions v1"
We need certain object to survive between requests. It is a cache that reduces individual request time from seconds to milliseconds. Not a crucial thing to have, but nice to have nonetheless (i.e. everything works fine without it, just a bit slow). If we have that cache object, we really want a logger there to be able to understand what went wrong when it goes wrong.

Now, from what I can see, the

[2020-09-30 09:29] skvark commented on #472
I might be wrong but it looks like this SO answer describes the root cause of this issue: https://stackoverflow.com/questions/63972495/azure-function-v3-could-not-load-file-or-assembly-microsoft-extensions-dependenc

[2020-09-30 09:59] peterwurzinger commented on #472
@skvark Absolutely, thanks for pointing me there.
I can't really tell why I didn't find the SO thread last week, since it covers the same question.

[2020-09-30 11:02] skvark commented on #472
Yeah I think this issue needs to be solved somewhere. It prevents DI usage with Azure Functions with .NET 5 / EF Core 5. Solution is to stay at older EF Core version. Imho should be pretty high priority to get this fixed since .NET 5 / EF Core 5 will be out in couple of months and probably most of us would like to use the latest versions also with Azure Functions.

[2020-10-01 21:44] William-Froelich commented on #435
My team is still stuck with this issue. As far as I can tell, there's no workaround for us.

[2020-10-02 05:50] anthonychu commented on #472
@peterwurzinger could you please provide a repro?

[2020-10-02 11:58] peterwurzinger commented on #472
@anthonychu
Absolutely.
It's loocated at
https://github.com/peterwurzinger/azure-functions-ef-core-5-repro

[2020-10-02 12:13] peterwurzinger commented on #472
To share additional findings of debugging that one:
When creating the emptiest possible Azure Functions v3 Project, and executing it using the Azure Functions CLI, there are actually quite a lot of 3.1 assemblies that have already been loaded by `func.exe`. Even if it's because the `func.exe` application needs them to work, or on purpose. But I'm pretty sure, that this has something to do with it.

[2020-10-02 21:35] anthonychu commented on #472
Thanks @peterwurzinger!

@fabiocav @brettsam Anything that can be done to make this work in Functions V3?

[2020-10-04 20:30] mj1856 commented on #471
@soninaren @vijayrkn @brettsam - any update on this?

[2020-10-05 13:31] ferantivero commented on #435
@William-Froelich I've just faced a similar issue. Have you tested by removing `[FromBody]` and use an `HttpRequest` instead as a workaround?

[2020-10-05 15:59] brettsam commented on #473
Can you try adding a direct nuget reference in your csproj to `Microsoft.Azure.WebJobs.Script.ExtensionsMetadataGenerator` -> `1.2.0`? That may already have the fix for this...

[2020-10-05 16:03] brettsam commented on #471
We have an internal deployment issue tracking this already. We hope to start on this soon. Will assign to @soninaren to close once it's complete.

[2020-10-05 17:42] fabiocav commented on #472
Looking at your setup would help. What framework are you targeting? The dependency that failed above is to a .NET 5.0 assembly, which is not be supported in 3.0 yet.

I you can share a quick project on GitHub, we should be able to provide some guidance here.

@peterwurzinger yes, 3.1 dependencies are used by the host running your functions, hence the current dependency on the framework target and

[2020-10-05 17:49] peterwurzinger commented on #472
@fabiocav

I already provided a repository to reproduce the error (see above): https://github.com/peterwurzinger/azure-functions-ef-core-5-repro

[2020-10-05 18:35] fabiocav commented on #472
Ah! Thank you! Somehow, I managed to miss that. We'll take a closer look here.

[2020-10-06 21:22] William-Froelich commented on #435
@ferantivero , we aren't using `[FromBody]`. Are there other annotations that can cause this?

[2020-10-09 23:02] vijayrkn commented on #413
This is fixed.

[2020-10-09 23:02] #413 closed

[2020-10-09 23:03] #441 closed

[2020-10-09 23:54] gzuber opened #477 "Fix build warning that appsettings aren't defined in local.settings.json when they're defined in user secrets"
Example:
![specified](https://user-images.githubusercontent.com/41077832/95639995-6f3e9a80-0a4f-11eb-80ae-b45f2a0ee4d2.jpg)

ConnectionStrings:MyQueueConn is defined in user's secrets.json and this app runs fine.

We could potentially just get rid of this warning all together because core tools makes the same check/warning. Since local.settings.json is only for local development, this warning is o

[2020-10-11 23:43] drdamour commented on #473
Ill check monday

[2020-10-12 22:16] pakrym opened #478 "Consider adding support for hierarchical configuration in local.settings.json"
We are planning to use a hierarchical configuration to support different modes of connecting to the service by having.

Build tools currently fail when local.settings.json contain a hierarchical setting:

[code]
[code]

cc @fabiocav @mattchenderson @paulbatum

[2020-10-13 16:45] paulbatum commented on #478
cc @brettsam

[2020-10-15 08:28] Sonic3R commented on #470
I had similar issue but with HttpTrigger but I solved with `Microsoft.Azure.WebJobs.Extensions.Http` nuget package added in csproj

[2020-10-15 14:48] William-Froelich commented on #435
I looked for similar elements and found we were using [FromRoute]. Removing that seemed to resolve the build, but why would that be the cause?

Are the MVC attributes not supported?

[2020-10-17 17:17] jjxtra commented on #451
Please make self-contained deployments to azure functions supported out of the box, that will eliminate this painful yearly cycle where azure functions always lags months behind the general .net core / .net 5+ cycle.

[2020-10-23 06:53] FitzyCodesThings commented on #472
Howdy! Just adding my thoughts here.

This is a major issue for us at the moment. We can work around it by using a WebJob in place of our Function, but this is non-ideal for a number of reasons.

Considering that the EF Core team is on RC 2 and encouraging use of the candidate, any updates on a timeframe to get this game-ender addressed in Functions?

Thanks!

[2020-10-24 13:01] Romfos commented on #471
Hi,

Do you have any updates?

[2020-10-27 16:33] fabiocav commented on #472
@FitzyCodesThings this is currently how the managed runtime works, the framework/.NET dependencies are tied to the version it supports.

Support for .NET 5.0 and .NET 5 dependencies is being actively worked on, but it is something that will ship after .NET 5.0 RTMs

[2020-10-28 20:18] fabiocav commented on #471
This is currently in progress. We expect a deployment this week.

[2020-10-28 20:19] fabiocav commented on #471
@soninaren will provide an update once this is released.

[2020-10-28 20:34] fabiocav commented on #404
The validation process is now done.

@soninaren is incorporating this into the release and will close this when completed.

[2020-10-30 21:08] RsundararajanRTG commented on #471
Please let us know. Thanks!!!!!

[2020-11-03 19:48] Chryogenic commented on #472
I am also having this issue while trying to run a v3 Azure function with dependency injection and Entity Framework Core 5.0 (RC 2).

[2020-11-04 22:50] pragnagopa opened #479 "Update WebJobs SDK reference"
cc @jeffhollan @brettsam @fabiocav

By default nuget installs lowest version of the dependency:  https://docs.microsoft.com/en-us/nuget/reference/ps-reference/ps-ref-install-package#parameters

To use new attributes added in later versions of WebJobs Sdk, users have to explicitly add reference to  WebJobs SDK.

@fabiocav / @brettsam - should we update webjobs version referenced in Microsoft.Net. S

[2020-11-05 14:53] brettsam commented on #479
Yes, we can update it -- I know @soninaren was working on publishing a release recently but not sure if that went out already?

[2020-11-05 15:11] RichMercer commented on #472
This looks like a barrier to my application adopting .net 5.0 as I rely on dependency injection in Azure Functions. I'm not using EF , but I assume this would affect anyone using DI in Functions as I'm seeing the same error?

[2020-11-05 15:16] pragnagopa commented on #479
@soninaren - If not published yet, please update WebJobs reference to https://www.nuget.org/packages/Microsoft.Azure.WebJobs/3.0.23

[2020-11-05 15:52] peterwurzinger commented on #472
@RichMercer As far as I'm concerned I think this basically affects every package, that the Func CLI uses internally (see above), and therefore brings into the App Domain (uuh, I said the "A" word) of the hosted Function App.

[2020-11-05 22:40] drdamour opened #480 "Error generating metadata when using a Disable attribute provider"
[code]

with

[code]

now if my DisableProvider is in a referenced project i get:

[code]

if it's in the same project assembly i get:
[code]

any advice?

[2020-11-06 15:56] pragnagopa commented on #479
Assigning to next sprint to ensure we discuss the issue during sprint planning.

[2020-11-09 19:46] briangardner commented on #465
We're seeing this same issue with the Microsoft.Extensions.Caching.* libraries.

[2020-11-09 20:17] soninaren commented on #404
This is done.
https://github.com/Azure/azure-functions-vs-build-sdk/pull/482
https://github.com/Azure/azure-functions-vs-build-sdk/pull/481

[2020-11-09 20:17] #404 closed

[2020-11-09 23:57] RsundararajanRTG commented on #471
Any update on this issue?

[2020-11-09 23:59] vijayrkn commented on #471
@RsundararajanRTG - I can see the new version in NuGet - https://www.nuget.org/packages/Microsoft.NET.Sdk.Functions/3.0.10

[2020-11-10 01:16] wahyuen commented on #471
@vijayrkn the latest version still appears to have the v3.x dependancy on it...perhaps it didnt make this release?

`Microsoft.Azure.WebJobs.Extensions (>= 3.0.0 && < 3.1.0)`

[2020-11-10 02:23] vijayrkn commented on #471
@soninaren do you know what dependency was updated in 3.0.10?

[2020-11-10 20:17] soninaren commented on #471
Resolved in this PR
https://github.com/Azure/azure-functions-vs-build-sdk/pull/484

Going to do a release for this today. Was contemplating right versioning as this is a major version upgrade. We settled by removing the upper bound on the packge.

[2020-11-10 20:17] #471 closed

[2020-11-10 21:19] soninaren commented on #471
This is published  now
https://www.nuget.org/packages/Microsoft.NET.Sdk.Functions/3.0.11

[2020-11-10 21:24] soninaren commented on #479
This is now release https://www.nuget.org/packages/Microsoft.NET.Sdk.Functions/3.0.11

[2020-11-10 21:24] #479 closed

[2020-11-11 01:34] RsundararajanRTG commented on #471
Thanks @soninaren.

[2020-11-11 07:54] RichMercer commented on #472
Is there some idea on timeline for .NET 5.0 support to assist with our planning? We’re unable to move to .NET 5.0 until this is released.

[2020-11-11 10:27] kuromukira opened #486 "GitHub Actions: Metadata generation failed when building Azure Functions in .NET5.0"
I tried migrating my .NET Core 3.1 Azure Functions to .NET 5.0. When running GitHub actions, I'm getting this error

I think this should be getting the runtime version for .NET 5.0 and not 3.1. Right?

[2020-11-11 10:30] Schuer84 commented on #472
Also running into this issue. Azure functions v3 (.net core 3.1) in combination with EFCore 5.0.

[2020-11-11 10:35] kuromukira commented on #486
Hmm. I made it pass GitHub Actions when I added a side-by-side dotnet sdk
[code]

[2020-11-11 12:37] pinkfloydx33 commented on #472
We have several shared libraries that we publish internally that we consume from our functions. Those libraries have refs to various MS.Extensions packages. I can't update my shared code to use the new 5.0 packages because it then breaks the Azure Functions due to the assembly version issue.

Obviously I'd increase the major version of my internal packages but it makes it difficult to provide upda

[2020-11-11 14:36] haintechdev commented on #465
I have the same issue with version 3.0.11 of the Microsoft.NET.Sdk.Functions package i try and the error began in version 3.0.9, older version work fine.

[2020-11-11 20:41] vijayrkn commented on #471
@soninaren - Can we also get the template updated to add the new package?

[2020-11-11 21:35] soninaren commented on #471
template package is release already. Next core tools update should include itl

[2020-11-11 21:36] vijayrkn commented on #471
@soninaren Awesome thanks!

[2020-11-11 23:29] kuromukira commented on #486
Closing this as I have read that Azure Functions does not support .NET5.0 yet.

[2020-11-11 23:29] #486 closed

[2020-11-13 19:16] sig9 commented on #435
This works for us on linux with vscode but not on windows with visual studio 2019 community.   Would really like to use [FromBody].  Without [FromBody] and [FromRoute] we can build on windows.  Unfortunately we are enjoying the utility of [FromBody].

[2020-11-16 17:42] seancolonello opened #487 "Regression of Ignore "Bad IL format" errors fix from 3.0.7"
As of version 3.0.10, the build warnings such as "_Could not evaluate 'Cosmos.CRTCompat.dll' for extension metadata. Exception message: Format of the executable (.exe) or library (.dll) is invalid._" have come back.

This was fixed in https://github.com/Azure/azure-functions-vs-build-sdk/releases/tag/3.0.7, associated with https://github.com/Azure/azure-functions-host/issues/5963.

[2020-11-17 14:21] d-bauer commented on #414
I had the exact same problem with `Microsoft.NET.Sdk.Functions` 3.0.9 and `NuGet.Protocol` 5.8.0.
The workaround suggested in Azure/azure-functions-host#5894 did help:
[code]

Thanks a lot @simonness :+1:

[2020-11-19 12:00] hasandogu commented on #472
This is affecting all our internal libraries as well. We upgraded to EF Core 5 and realized that we are affected by this issue in all our Functions. Is there any workaround to this at all?

[2020-11-19 22:00] AartBluestoke commented on #472
there can not be any work around for this, except for a new version of azure functions: (copied from my prior response at https://github.com/Azure/azure-functions-host/issues/6893#issuecomment-726386105 )

- when you run azure functions, it starts before it loads your code.
- only 1 version of a dll can be loaded at once.

Consequence: if you need a library that is a direct or indirect dependency

[2020-11-28 08:49] hasandogu commented on #472
Appreciated the detailed response @hkzenetex. We will hold on upgrading all our projects to .NET 5 until this issue is resolved.

[2020-12-03 17:17] ModernRonin commented on #487
@seancolonello I see a similar issue, but I reverted the SDK back to 3.0.9 and the issue persists ==> my current theory is that lots of other packages now have transitive 5.0 dependencies and that this is somehow the issue.

[2020-12-04 07:12] jeroenbeuz opened #488 "Including EntityFramework 6.4.4 in Azure Function V1 won't build with Microsoft.Net.Sdk.Functions V3.0.10 and higher"
I'm creating a new Azure Function V1 app which references EntityFramework V6.4.4. The solution won't build when I update the Microsoft.Net.Sdk.Functions package to 3.0.10 or 3.0.11. It does not throw an error, it's just stuck in the build process and I have to kill it in Task Manager because cancelling the build in Visual Studio doesn't work.

I've tried this in multiple new projects so it's very

[2020-12-04 09:24] ModernRonin commented on #487
so, I've been wholly unsuccessful in my attempts to eliminate that warning, now I am wondering if it can be ignored safely or not?

[2020-12-04 15:20] seancolonello commented on #487
I can say I ignored the warning for quite a while before the 3.0.7 fix without any issue.

[2020-12-08 12:56] craignicol commented on #435
I can see `[FromQuery]` is causing the same error, and the error message, as shown above, is very unhelpful. Could the builder either support these attributes or explicitly check for them and report them as invalid.

[2020-12-09 11:43] MyEidos commented on #472
Can the new feature "dotnet-isolated Functions runtime" help with it? Any documentation?
https://github.com/Azure/azure-functions-core-tools/releases/tag/3.0.3160

[2020-12-09 22:21] AartBluestoke commented on #472
I believe that is part of the solution so that a 5.0 dependent version of azure functions can run on top of the current 2.1 targeting functions. (there is no current intent to update the true runtime for azure functions to 5.0, as 5.0 isn't a LTS version)
(ie, it will allow you to run .net as another 'foreign' language (such as python), decoupling from the underlying runtime versions)
-- more info

[2020-12-17 04:37] DevOps801 commented on #472
I'm not sure why Azure tech support gave me a link to this thread but in case my particular experience helps anyone getting started with C# Dot Net Core and Azure development, here goes. I was receiving the same error message but with 'Microsoft.Extensions.Primitives'. My workaround involved separating my one project into two resulting in both being in their own Function App "container" (for lack

[2020-12-17 10:12] ssc412018 opened #489 "GitHub Source code Merge Issue - Not able to Revert the changes"
Hi,

I'm trying to take merge from one branch to my own branch.

When I give Merge in to Current Branch, It shown me the Conflicts but I was not able to resolve the conflicts and my changes all are gone. #
So I chose to revert the changes in Github. That also not able to do.

The other branch guy (Which I chose to merge in mine) got the Conflicts screen and her changes gone with my updates..
This

[2020-12-30 10:03] lhervel opened #490 "Azure Function post build issue"
Using VS2019 I have generated an Azure Function project. The Azure function is triggered by an HTTP request to convert CSV content to an XLSX file using EPPlus that is relying on System.Text.Encoding.CodePages.dll 5.0.0.0

The code is really really simple:
[code]
.Net core 3.1 is relying System.Text.Encoding.CodePages.dll 4.1.3.0
I saw in the build detailed output that the System.Text.Encoding.Cod

[2021-01-03 17:21] HassanBadir opened #491 "Eventhub Trigger Function supporing Azure.Messaging.Eventhubs EventData Type?"
Not sure whether this a bug or feature request, or whether it's supposed to be published here or on the Azure.Messaging.Eventhubs repo, yours to decide.

this is related to this package: **Azure.Messaging.EventHubs.** and Azure Functions

i am using:
Microsoft.NET.Sdk.Functions nuget 3.0.9
Azure.Messaging.EventHubs 5.2.0

**The Problem I am facing:**

I have an Eventhub Triggered Azure Function, d

[2021-01-08 07:18] DENNIS-CODES opened #492 "Debugging issue"
The project won't run each time I open it up after closing the visual studio, I keep getting the same error..could it be due to updating the database with new data am getting this type of error ..zero failed builds, zero errors

An unhandled exception of type 'System.IO.FileNotFoundException' occurred in Unknown Module.
Could not load file or assembly 'System.Runtime, Version=4.2.2.0, Culture=neut

[2021-01-08 07:20] DENNIS-CODES commented on #492
how can I bypass this type of exception when running or debugging a project

[2021-01-08 21:20] DENNIS-CODES commented on #492
not sure whether this is a bug or a feature issue

[2021-01-12 09:22] whiskeyjay opened #493 "Version 3.0.11 dependency not signed"
One of the dependencies "Microsoft.Azure.WebJobs.Extensions.Http" version 3.0.2 is not digitally signed.

The previous release 3.0.10 uses version 3.0.0 which was correctly signed.

Since the package "Microsoft.Azure.WebJobs.Extensions.Http" hasn't been updated for nearly 2 years, I guess it is more likely to get an response here.

Thanks!

[2021-01-12 10:36] plukawski opened #494 "Azure Functions V1 (Microsoft.NET.Sdk.Functions 1.0.37) does not generate function.json for functions using CosmosDBTrigger"
Good day, I have found a bug in the following line:
https://github.com/Azure/azure-functions-vs-build-sdk/blob/b0e54a832a92119e00a2b1796258fcf88e0d6109/src/Microsoft.NET.Sdk.Functions.Generator/AttributeExtensions.cs#L53

It checks for supported triggers using type `FullName` against a collection of simple names. That renders the build or publish to ignore any functions that have **CosmosDBTrigger

[2021-01-13 20:05] marcoscheel commented on #462
I've found a solution to my problem. I was running this command in my "local" pipeline (powershell):

`msbuild $corePathToProject /t:Pack -p:Configuration=$configName`

I now switched to this line:
`dotnet publish $corePathToProject --configuration $configName --output $publishLocation`

For reference I'm using a VS preview version on my machine:
Microsoft Visual Studio Enterprise 2019 Preview
Ver

[2021-01-22 17:54] poyadav2001 opened #495 "Could not load file or assembly 'System.IdentityModel.Tokens.Jwt, Version=6.8.0.0"
We are using .NET Frame work 4.7.2 and encounter the following error intermittently on using System.IdentityModel.Tokens.Jwt package

System.IO.FileNotFoundException: Could not load file or assembly 'System.IdentityModel.Tokens.Jwt, Version=6.8.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35' or one of its dependencies. The system cannot find the file specified.
File name: 'System.IdentityMo

[2021-01-27 18:57] ShaneFromFargo commented on #472
Any update here? This is a pretty big issue, and is preventing us from moving forward on our Azure functions deployment.

[2021-01-28 22:35] vorkuta commented on #272
Any updates on this? I'm running into the same issue. My function (based on a Microsoft example) runs locally, but I can't deploy due to `Missing property "direction". [5,5]`

[2021-02-02 18:27] vitalybibikov commented on #435
Any updates on this one @fabiocav

[2021-02-03 00:54] TNDStudios commented on #196
Have this same issue, V3 functions, 3.0.11 and it's not finding the function.json file because it is in a subdirectory named with the id of the function so

bin\Debug\netcoreapp3.1\bin\function.json

when it is actually in

bin\Debug\netcoreapp3.1\bin\*nameoffunction*\function.json

[2021-02-11 16:05] GusGusGusGus commented on #92
@vijayrkn  from my perspective, I am starting from scratch. _How would you create such a  "SDK style project"?_ I thought SDKs were only references you added to your project and used the corresponding namespace. In my case I have a .Net Framework 4.6.2 Class Library which -should- hold an azure function (its 4.6.2 due to dependency compatibility needs with other deps).

[2021-02-11 16:16] vijayrkn commented on #92
@GusGusGusGus - How are you creating the project today? If you are using Visual Studio, then creating a functions project should already do the right thing. You won't have to change anything.

[2021-02-11 16:23] GusGusGusGus commented on #92
I just created a Class Library (.net framework 4.6.2) project, within a .net framework 4.6.2 solution. As I mentioned, because of another dependency, I am forced to use .net framework 4.6.2. I have the Azure Functions SDK 1.0.24 package installed in the Class Library project, but I can't do (Add Items > Add Azure Function) as I've seen before in another project.

[2021-02-11 16:23] GusGusGusGus commented on #92
Besides that, I have the above error

[2021-02-11 16:30] vijayrkn commented on #92
@GusGusGusGus - When you add a new Azure function project, you will get the option to choose Function 'v1' which is the net472 version. This should unblock you.

[2021-02-12 04:54] motias opened #496 "Behavior of NuGet package file placement has changed between Functions SDK v1 and v3"
After updating the Azure Functions SDK version from 1.0.x to 3.0.11, it seems that the behavior of the NuGet package file placement after build has changed.

In 1.0.x, all the files in the NuGet package are placed under `bin\runtimes` folder as below:

- FunctionApp\bin\Release\netcoreapp2.1\bin\runtimes\win-x64\native
	- xxx.dll
	- xxx.xml
	- Data
		- xxx.dat

In 3.0.11, only dll file is placed u

[2021-02-16 10:05] GusGusGusGus commented on #92
@vijayrkn perfect. I didn't know how it was made, so I tried to build the 'human being' organ by organ, and wondered why it didn't live. Thanks for the help!

[2021-02-16 17:53] gerab commented on #306
This issue has been moved to a repository you don't have access to or has been deleted since being transferred.

[2021-02-16 17:54] gerab commented on #306
This issue has been moved to a repository you don't have access to or has been deleted since being transferred.

[2021-02-17 11:52] StephenCleary commented on #93
Still happening 3 1/2 years later...

[2021-02-18 13:51] Drew-E commented on #472
Any update on this?  How are people with EF Core 5 dependencies (i.e. shared libraries) supposed to use functions?

[2021-02-20 16:14] pmeems commented on #472
A few weeks ago I started a new Blazor project using .NET5 and EFCore5. Everything works fine and now I want to create an Azure Function using a shared library and I get the errors mentioned earlier.
Any timeline when this will be fixed is much needed.

For now, I will copy all of the needed EFCore code into the Function project. But that is a bad and dirty workaround.

[2021-02-22 10:31] IanM-SI opened #497 "Problem connecting to Dynamics 365 CRM using client secrets"
We are using the latest NuGet versions of "XrmTooling.CoreAssembly" and "NET.Sdk.Functions" along with .NET framework v1 to connect and access Dynamics CRM 365. We authenticate using OAuth client secrets to give access to CRM. The NuGet "Functions" package requires Newtonsoft JSON version 9.0.1 but the NuGet "XrmTooling" package requires version >= 10.0.3. Will you be updating your NuGet package s

[2021-02-23 14:55] zhaparoff commented on #465
Please refer to https://github.com/Azure/azure-functions-host/issues/5894 for the root cause and the available workarounds.
But, primarily, adding
[code]
to the project file is the best solution for now and should help.

[2021-02-24 20:05] abderrahmaneMustapha opened #498 "can not convert to json response to camel case newtonsoft.json and Microsoft.NET.Sdk.Functions 1.0.24"
I'm trying to convert the keys in a json response from Pascalcase to camelCase
I'm using  Microsoft.NET.Sdk.Functions 1.0.24 ,newtonsoft.json 12.0.1 and visual studio 16.2

    req.GetConfiguration().Formatters.JsonFormatter.SerializerSettings.ContractResolver = new CamelCasePropertyNamesContractResolver();

but it is not working and I'm getting this error

I tried to downgrade newtonsoft.json 9.0

[2021-03-01 07:17] NickSevens opened #499 "FunctionsPreservedDependencies doesn't preserve files"
I'm building an Azure Function app and have an issue where it fails to load `System.IdentityModel.Tokens.Jwt.dll`.

It seems the dll is removed due to the assembly cleaning process, which I can disable using `<_FunctionsSkipCleanOutput>true</_FunctionsSkipCleanOutput>` (this works as described)

However I read at https://docs.microsoft.com/en-us/azure/azure-functions/functions-develop-vs#configure

[2021-03-01 20:56] FitzyCodesThings commented on #472
Any updates at all on this?? We're now MONTHS into .NET 5 / EF Core 5 / etc. (and already talking about .NET 6) and I still can't use Functions at all....

[2021-03-02 19:47] BrendanGrant commented on #488
+1 on this.

I've found this also can/will cause an Azure DevOps pipeline to run for another before being killed on a work project, and similar issues at home on personal if using the wrong/latest versions.

[2021-03-03 00:16] hendrickcastro commented on #332
If the problem persists, verify that you are using the correct version of Azure Functions Core Tools (v3), it happened to me that I took version 2 from nodejs that is, I had version 2 installed in nodejs and version 3 in the folder From microsoft in the path they were both but I took the first one that was the nodejs one and it kept giving me the error until I delete the nodejs one, you can update

[2021-03-08 17:29] shibayan opened #500 "Could not load file or assembly 'System.Text.Encoding.CodePages, Version=5.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a'."
#### Repro steps

Provide the steps required to reproduce the problem:

1. Create function app project
2. Install `System.Text.Encoding.CodePages` nuget package
3. Adding `Encoding.RegisterProvider(CodePagesEncodingProvider.Instance);` to function
4. Run function app

#### Expected behavior

Function app is executed without error

#### Actual behavior

The following error occurs and the function c

[2021-03-09 18:22] russharding commented on #472
Any updates here? It would be a lot of work to have to downgrade my project to EF.Core 3.1 or more likely EF 6.x.

[2021-03-13 14:44] Deathrage commented on #202
Are planning on finishing the pull request any time soon?

[2021-03-16 08:02] hannespreishuber commented on #397
6.9 update from today
Die Datei oder Assembly "Microsoft.IdentityModel.Tokens, Version=5.3.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" oder eine Abhängigkeit davon wurde nicht gefunden. Die gefundene Manifestdefinition der Assembly stimmt nicht mit dem Assemblyverweis überein. (Ausnahme von HRESULT: 0x80131040)

[2021-03-18 15:30] eosho commented on #93
+1 facing this issue literally today.

[2021-03-24 10:54] jan-harders opened #501 "AspNetCore stack diverges between Microsoft.NET.Sdk.Functions 3.x and Azure Functions Runtime 3.x"
Microsoft.NET.Sdk.Functions 3.x includes references to Microsoft.AspNetCore.xxx in version 2.x

![image](https://user-images.githubusercontent.com/52697950/112296447-36a91b00-8c95-11eb-88bb-2e9e907ff539.png).

The actual Azure Functions runtime (also CLI for local development) provides the Microsoft.AspNetCore.xxx stack in version 3.x.
That means, if you use any AspNetCore class in an functions pr

[2021-03-26 12:25] hansgschossmann opened #502 "Security vulnerability CVE-2021-26701 reported on NuGet 3.0.11"
My security scanner reports a vulnerability in Microsoft.NET.Sdk.Functions NuGet 3.0.11 caused by  System.Text.Encodings.Web which would be required to update to a newer version.

Are you planning to fix this anytime soon?

[2021-03-29 21:00] anthonychu commented on #470
@TechWatching  Can you please let us know if this is still an issue for you?

[2021-03-30 14:58] TechWatching commented on #470
No it is fine since there was another version of the functions SDK to which we upgraded our code to. I am closing the issue. Thanks.

[2021-03-30 14:58] #470 closed

[2021-03-30 23:38] fabiocav commented on #502
Assigning this work for completion. This will be picked up ASAP and released when done. In the meantime, please override the dependency in your project.

[2021-04-05 15:57] milkyjoe90 commented on #500
I have ta similar issue with System.Runtime.Caching, v5.0.0 works with Microsoft.NET.Sdk.Functions up to v3.0.2, anything higher breaks. Microsoft.NET.Sdk.Functions v3.0.11 work perfectly with System.Runtime.Caching v4.7.0

[2021-04-07 18:14] Anthony-Breneliere opened #503 "How to build function directories for functions located on a dependent project ?"
Hello,

I have a function project that references several projects that contain azure functions.

[code]

When I build FunctionApp.csproj, I have to copy the function directories (that contains the function.json) manually to the output directory, otherwise functions are not found whan I launch the app (0 functions found).

Each function.json file has a link to its projects's assembly with the scri

[2021-04-08 00:26] Anthony-Breneliere commented on #503
Ok the answer is there:

 https://github.com/Azure/azure-functions-vs-build-sdk/commit/101e4ced4fa5d489883a45bf28821df42064dd65

[2021-04-08 00:26] #503 closed

[2021-04-08 00:27] Anthony-Breneliere commented on #503
the answer is there:

https://github.com/Azure/azure-functions-vs-build-sdk/commit/101e4ced4fa5d489883a45bf28821df42064dd65

[2021-04-09 10:10] NameGrey commented on #472
It's already April and no other solution than downgrading? We planned to start using Azure functions, but looks like we have to postpone our decision...

[2021-04-09 14:15] russharding commented on #472
@NameGrey check this out: https://techcommunity.microsoft.com/t5/apps-on-azure/net-on-azure-functions-roadmap/ba-p/2197916

It solved my problem. It's a bit of a hassle and is the embodiment of "MVP", but it does work.

[2021-04-09 17:24] DevOps801 commented on #472
Russ, interesting comment you sent to @NameGrey.  In the case of my function app (two of them in their own deployed projects utilizing shared resource, i.e. storage aka queues), Azure support came back with this explanation for why my 2nd function app stopped working back in February: "_We were checking the backend logs for the timeframes that you sent to me, and I found that there was an update o

[2021-04-13 00:18] fabiocav commented on #502
For awareness; though the references are outdated, the runtime has been patched for a while and that's the version that gets loaded at runtime, as it is a serviced component.

[2021-04-24 19:29] Abdalrzakalsouki commented on #160
Hello,
my targeting framework is:  <TargetFramework>netcoreapp3.1</TargetFramework> and I can not change it as what the previous suggestion said. Is there any other solution, please?

[2021-04-25 07:57] FluentChange commented on #93
Poor, that it is still not fixed in:

[code]

Probably it only needs one or two lines to be changed

[2021-04-27 08:29] haiyuzhu opened #507 "What's the time line of supporing net5 in this package?"
I want to know when Microsoft.NET.Sdk.Functions.csproj and Microsoft.NET.Sdk.Functions.Generator.csproj will target .NET 5.

[2021-04-27 09:11] haiyuzhu opened #508 "Why do we need Microsoft.NET.Sdk.Functions.Generator.csproj?"
During build, Microsoft.NET.Sdk.Functions.MSBuild.dll will call Microsoft.NET.Sdk.Functions.Generator.dll during build. Why not merge the logic of Microsoft.NET.Sdk.Functions.Generator.dll to Microsoft.NET.Sdk.Functions.MSBuild.dll?

[2021-04-28 20:16] fabiocav commented on #502
Updates sent on this. No action taken on SDK/Functions packages as our dependency on this is transitive dependency and the other packages are the latest versions. Closing this as there's no further action here.

[2021-04-28 20:16] #502 closed

[2021-05-12 11:39] jeffreypolk commented on #472
I'm running into this issue as well using durable functions.  According to the roadmap, this won't be fixed until .NET7 (yikes!).  As a workaround, I include a console app with my function app.  When I need to execute code that leverages EF Core (or any other conflicting dependency), my function method invokes the console app via `System.Diagnostics.Process` and waits for it to finish.  This allow

[2021-05-12 14:51] mattd-its commented on #472
I'm also running in to this issue. We have no plans to go to .NET 5 any time soon (so that as a solution isn't an option for us). We want to continue using .NET Core 3.1 and Azure Functions v3, with Entity Framework Core 5. For now v3 of EF Core is ok, but we really want the ability to use EF Core 5 with Azure Functions (and dependency injection).

I also have a working example showing that going

[2021-05-12 17:33] fabiocav commented on #472
Support to .NET 5.0 (and 5.x dependencies) is available with the out-of-proc worker model, so it doesn't impact the SDK

We're shared the information about the roadmap and future plans [here](https://techcommunity.microsoft.com/t5/apps-on-azure/net-on-azure-functions-roadmap/ba-p/2197916), so I'm closing this as I'm hoping this answers the questions, but if not, I'd be happy to clarify here.

[2021-05-12 17:33] #472 closed

[2021-05-12 18:03] russharding commented on #472
Hi @DevOps801 sorry I missed this and I hope you were able to get your function up and running.

To answer your question, by following that article and retargeting to .NET 5, as well as setting your FUNCTIONS_WORKER_RUNTIME to "dotnet-isolated" you should find that the project will start to work.

I would definitely follow the linked article carefully. The solution is not the most user friendly; b

[2021-05-13 10:28] StephenCleary opened #512 "3.0.12 released?"
3.0.12 [was released this morning](https://www.nuget.org/packages/Microsoft.NET.Sdk.Functions/3.0.12), but I see:

- Nothing on the Releases page (or Tags).
- Indeed, no commits at all since 3.0.11.

Seems kinda :sus:...

[2021-05-14 12:30] NoahStahl commented on #512
Makes one wonder about Azure Functions with this kind of thing and the fact nobody responds in a timely fashion...

[2021-05-19 11:47] esmeweaterwax opened #513 "Question: watchdog for Azure Function - how to do it?"
From time to time we face an issue that our Azure Function starts to throw 503 response code, freezes and must be restarted manually to get back to normal. We would like to have watchdog mechanism, which will detect that Azure Function throws number of errors from defined range in defined timeframe above defined threshold, then will log an event, send an e-mail alert to given mailing list and rest

[2021-05-19 15:07] stap123 commented on #512
@jeffhollan, @fabiocav Any idea what's going on here?

[2021-05-21 14:42] johnnyreilly commented on #435
Just bumped on this too

[2021-05-27 15:06] rsknowles commented on #272
Any fix or guidance?  I followed the exact steps on [the tutorial](https://docs.microsoft.com/en-us/azure/azure-functions/create-first-function-vs-code-csharp) and am receiving the same error others have mentioned:

[2021-05-28 10:06] arkiaconsulting opened #517 "Microsoft.NET.Sdk.Functions 3.0.12 drops System.Encodings.Web"
Bumping Microsoft.NET.Sdk.Functions from 3.0.11 to 3.0.12 drops System.Text.Encodings.Web.dll from the publish folder.

[code]
[code]

related:
https://github.com/Azure/Azure-Functions/issues/1898
https://github.com/dotnet/runtime/issues/52845

[2021-06-02 20:44] ielcoro opened #518 "[Question] Why does functions on .net core 3.1 create a bin folder inside bin and duplicating outputs"
We are in the process of migrating from functions v2 to v3, and we got caught by surprise when analyzing the output of our functins projects. It looks like some post build  target in the functions v3 sdk runs copies all the binaries from the standard output folder to a bin subfolder, duplicating output.

![image](https://user-images.githubusercontent.com/587365/120549500-f9c77600-c3f3-11eb-94c0-f2

[2021-06-07 01:05] dgardiner-jbhifi commented on #512
And now Dependabot tells me that 3.0.13 is out.

I did find more recent commits are in https://github.com/Azure/azure-functions-vs-build-sdk/commits/v3.x but that doesn't explain the apparent change in release process. @kashimiz would you happen to know what's going on?

[2021-06-07 01:16] flcdrg commented on #512
And now I see 3.0.13 is out.

I did find more recent commits on the https://github.com/Azure/azure-functions-vs-build-sdk/commits/v3.x branch. @kashimiz would you be able to shed any light on this?

[2021-06-08 11:17] qualitas-software opened #519 "Suppress Warning "cannot find value named '{0}' in local.settings.json"
I exclude local.settings.json from checkin as developers can configure some aspects separately as needed.

I have a storage connection string for a queue trigger which I default (ie- set as a convention) in `Startup`.   When deployed, this will be filled from a keyvault, but in dev the default is `UseDevelopmentStorage=true`.

This all works, but I get an unwanted warning telling me I must set the

[2021-06-08 14:58] qsdfplkj opened #520 "A host error has occurred during startup operation."
Entity framework throws the following errors when used in Azure Functions after upgrading from 5.0.0-preview.3.20181.2.

Running locally with Azure Functions Core Tools, but the same issues exist on Azure.
(https://github.com/Azure/azure-functions-core-tools)

A host error has occurred during startup operation '28db500b-7bbd-4b51-8b06-0c9c4e6adaf2'.
System.Private.CoreLib: Could not load file or a

[2021-06-10 16:18] foconnor-DS commented on #518
Also, for me, the upper level "runtime" directory is 0 bytes after building it in Azure Devops using DotNetCoreCLI@2 build command . It's filled with empty folders for each architecture. The sub 'runtime' directory has the appropriate files in it. This is the error I get when I try to run it live on Azure Function:

`Could not find file 'C:\home\site\wwwroot\runtimes\win-arm64\native'.`

For  some

[2021-06-21 14:08] marklagendijk commented on #472
I found [this blog post](https://codetraveler.io/2021/05/28/creating-azure-functions-using-net-5/) about upgrading function apps to .NET 5.
It contained quite a few instructions that were missing elsewhere.

[2021-06-21 15:49] hansmbakker commented on #472
@marklagendijk that only works if you're willing to switch to the isolated dotnet worker instead of using the Functions runtime hosted in Azure - which has different pros/cons so not for everybody this isolated dotnet worker is better

[2021-06-23 06:58] marklagendijk commented on #472
@hansmbakker that is correct, these are described in the [announcement blog post](https://techcommunity.microsoft.com/t5/apps-on-azure/net-on-azure-functions-roadmap/ba-p/2197916) that was mentioned earlier:

Pros:

Cons:

[2021-06-24 14:29] marklagendijk commented on #472
Another important resource is the [Azure Functions .NET Worker repository](https://github.com/Azure/azure-functions-dotnet-worker).
* [.NET Worker bindings](https://github.com/Azure/azure-functions-dotnet-worker/wiki/.NET-Worker-bindings): which packages you need for triggers / output bindings
* [samples/FunctionApp](https://github.com/Azure/azure-functions-dotnet-worker/tree/main/samples/Function

[2021-06-24 15:47] ginoey opened #521 "Security Vulnerabilities in Microsoft.NET.SDK.Functions 3.0.11"
Hello, I am using Microsoft.NET.SDK.Functions 3.0.11 for my Azure function App. I am getting vulnerabilities in two of the subcomponents which is referred by Microsoft.NET.SDK.Functions 3.0.11 during JFrog X-Ray scanning.

1. System.Net.Sockets:4.3.0 - A denial of service vulnerability exists when .NET Core improperly handles web requests, aka '.NET Core Denial of Service Vulnerability'. Severity-

[2021-06-25 08:15] fowl2 commented on #512
missing releases has been going on for [a](https://github.com/Azure/azure-functions-vs-build-sdk/issues/345) [while](https://github.com/Azure/azure-functions-vs-build-sdk/issues/408), see

[2021-06-25 08:37] fowl2 commented on #499
Support for `FunctionsPreservedDependencies` was [added](https://github.com/Azure/azure-functions-host/pull/6849) in [Microsoft.Azure.WebJobs.Script.ExtensionsMetadataGenerator 1.2.1](https://github.com/Azure/azure-functions-host/releases/tag/emg-v1.2.1), which was first included in Microsoft.NET.Sdk.Functions version [3.0.12](https://www.nuget.org/packages/Microsoft.NET.Sdk.Functions/3.0.12), so

[2021-06-25 09:54] KamranShahid commented on #160
this did the trick at my end. thanks

[2021-06-25 09:54] KamranShahid commented on #160
this did the trick at my end
Thanks

[2021-06-27 14:50] JasonKleban commented on #435
`[FromServices]` also seems to cause this.

[2021-06-28 11:35] benperk commented on #435
I got a similar exception, but also received some helpful information prior to the one discussed here.  I did what the exception said and it worked.  Seems to be caused by some mismatch between trigger attribute parameters and Run() method parameters.
![ghmetadata](https://user-images.githubusercontent.com/8362179/123630345-b35c1000-d815-11eb-87a3-a80ec538806e.PNG)

[2021-06-29 16:05] j03INTHECLOUD commented on #520
We are seeing the same problem, any work around?

[2021-07-06 12:41] Json2CSharp opened #522 "Could not load file or assembly 'microsoft.codeanalysis' Azure Functions"
Using Azure Function SDK version 3.0.13 (latest), i added a reference to a project that's using microsoft.codeanalysis

however it's throwing the error in the title,

I had to downgrade azure functions sdk to 3.0.3 for it to work

[2021-07-12 23:06] RealDotNetDave commented on #160
I'm still seeing this issue looking for System.Runtime.dll. Any fixes?

[2021-07-16 12:45] szenadam commented on #487
We've been also ignoring it for a while now but it is very annoying. We want to eliminate all build warning on out project so we can set the build to fail even on a warning, but we cannot because of this bug.

[2021-07-16 13:45] seancolonello commented on #487
You can get rid of the warnings by directly installing a package that's pulled in by the SDK. See here...
https://github.com/Azure/azure-functions-host/issues/6899#issuecomment-870556406

[2021-07-21 09:23] ginoey commented on #521
Hello,
Do you have any updates on the issue that I reported earlier?

[2021-07-25 07:39] janhjordie commented on #128
I solved it by setting the environment path to include path to dotnet.
I had cleaned up old versions

[2021-07-29 08:33] MichaelMWW commented on #462
I have encountered the same issue, do wen have plan to fix it?

[2021-08-03 07:17] JorgenWeckstrom commented on #133
Hi. Any update on this? Having the same issue and looking for a way to avoid transferring the localized folder to bin manually.

[2021-08-06 20:30] spplante opened #523 "Could not load file or assembly 'Microsoft.IdentityModel.Tokens, Version=6.12.0.0..."
Hi there,

I have been banging my head over this dependency problem and I am literally out of ideas...All I want to do it to secure my v3 HTTP trigged function by validating that the request has been granted the proper application role from a given app registration.

To do so I do the following:

- Create a brand new Azure Function v3
- Add the latest **Microsoft.Azure.Functions.Extensions** nuget

[2021-08-16 12:55] 23min commented on #512
two months later and releases still hasn't been updated.

[2021-08-18 08:12] muhsellum commented on #160
I had same issue , the solution for me was

- Install nuget package through package Manager console Like that:
   PM> Install-Package System.Runtime -Version 4.3.0
- Restart my computer .
-
* Note: this worked for .Net core 1.1 project.

[2021-08-19 04:44] trobed commented on #523
Hey, I don't have a solution for you but noticed that there has been a bug created in the Identity Web github which mentions this problem, so perhaps it is being looked at there and you could mention that second issue with the PnP.Core in case it is relevant? See here https://github.com/AzureAD/microsoft-identity-web/issues/1386

[2021-08-20 12:15] spplante commented on #523
@trobed Thanks will take a look, I also opened [7756](https://github.com/Azure/azure-functions-host/issues/7592) in the azure-functions-host repo and got an obscure response I didn't quite understand, we'll see how this goes...

[2021-08-20 13:31] amalea commented on #435
Same issue here with Microsoft.NET.Sdk.Functions" Version="3.0.13"

[2021-08-25 16:49] drdamour commented on #330
seems like this issue could be closed

[2021-09-01 15:50] shibayan opened #524 "Suppress the connection warning message when using Managed Identity"
When using Managed Identity in Binding / Trigger, you need to specify a nested value prefixed with the connection name. (Example: `<CONNECTION_NAME_PREFIX>__serviceUri`)

https://docs.microsoft.com/en-us/azure/azure-functions/functions-reference#connection-properties

Function Build SDK does not take nested values into account, so even if you add the correct settings to `local.settings.json`, it w

[2021-09-06 13:45] wonderplayer commented on #517
Reproducible in 3.0.13

[2021-09-08 16:21] edgarnovo commented on #93
Still facing this issue...

[2021-09-09 23:40] Obi-Dann commented on #480
I am also getting this issue when trying to use DisableAttribute with provider.
Going to ping one of the contributors to hopefully get some response since the issue was reported almost a year ago.
cc @ahmelsayed

[2021-09-10 04:17] Obi-Dann commented on #480
Done a bit of digging, the validation for DisableAttribute with type provider was added in https://github.com/Azure/azure-functions-vs-build-sdk/issues/85
There was a comment from @MikeStall describing the behaviour https://github.com/Azure/azure-functions-vs-build-sdk/issues/85#issuecomment-319843602

From what I can understand `DisableAttribute` with type provider is not supported by function.js

[2021-09-14 14:41] amalea commented on #435
Hello,

Are there any updates regarding this build error?
I am trying to use [FromServices] with Microsoft.NET.Sdk.Functions" Version="3.0.13" and "Microsoft.Azure.Functions.Extensions" Version="1.1.0". I have also downgraded to Microsoft.NET.Sdk.Functions" Version="3.0.7" as @rodneyjoyce stated, but still the same error.

[2021-09-16 17:00] ssa3512 opened #527 "4.0.0-preview1 MSB4062 GenerateFunctions task strong name signing error"
I am attempting to try out upgrading to .NET 6 in preview with the 4.0.0-preview1 package but can not build my functions app:

VS 2022 preview 4

.csproj is very simple:

[code]

Is there anything I am missing?

[2021-09-27 13:31] VarunSaiTeja commented on #397
I had installed this package `Microsoft.AspNetCore.Authentication.JwtBearer`

And for me, the issue was resolved.

You can uninstall `System.IdentityModel.Tokens.Jwt`

Because the Microsoft package depends on the system package, so it gets installed automatically.

[2021-10-04 03:44] cbfrank commented on #380
have the same issue, the default template for time trigger with azure isolated mode doesn't work

[2021-10-16 14:31] pastushenkoy opened #531 "Unused dependencies in Microsoft.NET.Sdk.Functions"
Hello everyone.

Can anyone help me to find out why does the project Microsoft.NET.Sdk.Functions contains these package references:

[code]

If I delete them nothing changes and Generator continues to work properly.

My guess is that it is needed to pin code to particular versions of these libraries and avoid dependency hell. Can anyone confirm this guess?

[2021-10-18 22:05] anthonychu opened #533 "Prevent accidentally updating v3 app to use v4 SDK"
We should consider this before we take teh v4 SDK out of preview.

/cc @soninaren

[2021-10-20 20:59] anthonychu commented on #533
@ChristopherL-STCU  This version only targets net6.0. How did you update the package? Were you able to compile the app after upgrade?

[2021-10-21 12:58] coder-candace commented on #533
I too experienced the same issue as @ChristopherL-STCU and I had the following errors
![image](https://user-images.githubusercontent.com/9382697/138282005-99ec5e1f-3db0-4ba9-99aa-b5a4f88fff18.png)
Downgrading back to v3.0.13 fixed the issue.

[2021-11-01 03:28] anthonychu commented on #533
@vijayrkn Do you know how we can prevent the VS NuGet UI from upgrading v3 apps to an incompatible SDK version?

[2021-11-01 15:09] vijayrkn commented on #533
@anthonychu - All these packages are targeting netstandard2.0 - https://github.com/Azure/azure-functions-dotnet-worker/blob/648473e4c770ec7b2f3703bd18e883b4650a91c6/build/Extensions.props#L4

That is why NuGet is suggesting them as applicable for all TFMs. If specific package versions would only work against a specific TFM, the right thing would be to target the package for that TFM.

![image](htt

[2021-11-02 14:23] raymens commented on #533
https://www.nuget.org/packages/Microsoft.NET.Sdk.Functions/4.0.1 is only mentioning net6.0 dependencies. However VS (both 2019 and 2022) will allow you to update anyway, it just removes all the older dependencies. This is for a netcoreapp3.1 project.

So it looks like VS treats it a dependencies, instead of requirements.

![image](https://user-images.githubusercontent.com/1369454/139864964-d01fc64

[2021-11-02 15:37] scale-tone commented on #523
Still observing the same.

This seems to be an ever-green issue. Previously raised as #397 and claimed to be fixed with https://github.com/Azure/azure-functions-host/issues/5894. All of those are closed, but the problem is still there.

Workarounds:
* Downgrade to Microsoft.NET.Sdk.Functions 3.0.3 (works for me).
* Adding `<_FunctionsSkipCleanOutput>true</_FunctionsSkipCleanOutput>` to your CSPROJ

[2021-11-19 23:18] morrisonbrett commented on #427
Is there a way to use `Microsoft.NET.Sdk.Functions` latest and greatest and do a binding redirect to `System.IO.Abstractions`?

[2021-11-19 23:21] morrisonbrett commented on #500
Similar issue with `System.IO.Abstractions`. The only version of `MIcrosoft.NET.Sdk.Functions` that works is `v3.0.3`. After that, it will not load `System.IO.Abstractions'.

[2021-11-19 23:28] morrisonbrett commented on #500
I got past it! THIS fixed it for me. Add this to a `<PropertyGroup>` in your .csproj.

`<_FunctionsSkipCleanOutput>true</_FunctionsSkipCleanOutput>`

[2021-11-19 23:28] morrisonbrett commented on #427
I got past it! THIS fixed it for me. Add this to a `<PropertyGroup>` in your .csproj.

`<_FunctionsSkipCleanOutput>true</_FunctionsSkipCleanOutput>`

[2021-11-19 23:29] morrisonbrett commented on #500
Cross-reference: https://github.com/TestableIO/System.IO.Abstractions/issues/761

[2021-11-19 23:29] morrisonbrett commented on #427
Cross Reference: https://github.com/TestableIO/System.IO.Abstractions/issues/761

[2021-11-29 08:57] 23min commented on #512
4.0 and 4.0.1 were released but there are no release notes.

How are we supposed to move forward? This is a serious issue!

[2021-11-29 21:55] safihamid opened #540 "Functions V4 R2R is failing for Linux-x64 for InProc"
It hangs at the step below, it works fine for win-x86 and win-x64. also works fine for isolated and linux-x64.

dotnet publish -c release -r linux-x64 --no-self-contained -v diag

Task "GenerateFunctions" (TaskId:191)
Task Parameter:TaskAssemblyDirectory=C:\Users\hamids\.nuget\packages\microsoft.net.sdk.functions\4.0.1\build\..\tools\net6.0\ (TaskId:191)
Task Parameter:TargetPath=C:\Users\hamids\s

[2021-11-30 22:16] fabiocav commented on #512
This was due to a pipeline issue/limitation.

Assigning this for review and assignment so this is corrected.

Thank you all.

[2021-12-16 08:47] #499 closed

[2022-01-19 10:23] scott-david-walker opened #539 "Is there a way of using Middleware without Isolated functions v4.0.1"
Hi,
We've just done an upgrade from our Azure Functions V3 (.NET core 3.1) to V4 and we're unable to insert middleware. All the documentation says that this is possible but only when using Isolated functions. Is there a method to do this for functions not using the isolated process?

We found the [Functions Filters](https://github.com/Azure/azure-webjobs-sdk/blob/dev/src/Microsoft.Azure.WebJobs.Ho

[2022-01-19 12:39] #539 closed

[2022-01-19 12:39] scott-david-walker commented on #539
Closed as in wrong github location

[2022-01-27 08:44] 23min commented on #512
@fabiocav all very well but two months later we still don't have release notes for

- 3.12
- 3.13
- 4.0.0
- 4.0.1

[2022-02-01 00:35] RDavis3000 commented on #520
Is there a workaround?

Just encountered this when updating my packages to:
    <PackageReference Include="Azure.Storage.Blobs" Version="12.10.0" />
    <PackageReference Include="Azure.Storage.Queues" Version="12.8.0" />
    <PackageReference Include="Cronos" Version="0.7.1" />
    <PackageReference Include="Microsoft.Azure.Functions.Extensions" Version="1.1.0" />
    <PackageReference Include="M

[2022-02-01 06:54] fowl2 commented on #285
@vijayrkn could you elaborate on this?

As far as I can tell these is no publish profile option for creating a ZipDeploy-able zip file without actually deploying it.

![image](https://user-images.githubusercontent.com/12844147/151924828-90cb9b5f-f907-4032-bee6-835ef1bce2b1.png)

[2022-02-01 07:27] qsdfplkj commented on #520
.net isolated process

[2022-02-01 22:31] fowl2 commented on #497
a workaround would be to upgrade switch to https://github.com/microsoft/PowerPlatform-DataverseServiceClient and NET.Sdk.Functions v4, which have compatible Newtonsoft JSON dependencies

[2022-02-02 01:18] fowl2 commented on #519
This warning appears to be generated here:
https://github.com/Azure/azure-functions-vs-build-sdk/blob/32ebc25b282fe08ebb283178150450755f2d1044/src/Microsoft.NET.Sdk.Functions.Generator/FunctionJsonConverter.cs#L261

It also appears erroneously when using the "__" syntax, eg. with service bus with managed identity "`connectionName__fullyQualifiedNamespace`".

-----

As a workaround, it seems that r

[2022-02-02 06:41] amroczeK commented on #380
Facing the same issue following this documented guide.

Received the following error when running `func start`

[code]

Resolved the error by adding the following to my `.csproj` within ItemGroup:
`<PackageReference Include="Microsoft.Azure.Functions.Worker.Extensions.Http" Version="3.0.13" />`

[2022-02-04 01:28] mattchenderson opened #541 "Build output warnings don't accomodate identity-based connections"
The Build process complains with warnings if you use [identity-based connections](https://docs.microsoft.com/en-us/azure/azure-functions/functions-reference?tabs=blob#configure-an-identity-based-connection) for testing locally.

For example, my BlobTrigger attribute might be `[BlobTrigger("samples-workitems/{name}", Connection = "myblobaccount")]`, and in my local.settings.json, I have `myblobacco

[2022-02-14 21:23] ravibha-hub commented on #517
Any update on this?

[2022-02-17 19:53] huntrontrakkr commented on #494
Running across the same issue

[2022-02-17 20:35] baumatron opened #544 "Azure Functions Publish does not copy COMReference COM server dependency to publish output folder"
I have an Azure Functions app targeting .NET 6 on Windows, which has a project dependency on a .NET 6 class library which in turn depends on a COMReference which is configured as registration-free and set to copy the COM server to the build output folder. I can confirm that the interop library and the COM server are copied to the build output folder.

The problem is that publishing my functions ap

[2022-03-04 07:06] kimjamia commented on #380
I was probably on the January 2022 release of VS 2022 when I created a Storage-trigger project in isolated mode. The project was missing the `Microsoft.Azure.Functions.Worker.Extensions.Storage` package and the `FunctionAttribute` was not working. I updated to v17.1 and now when I create the same kind of project, the reference is there and the attribute is working.

[2022-03-04 07:17] Klezer commented on #272
I am facing the exact same problem when using a CosmosDB output binding. The direction is not being added in the function.json file, causing this issue. However, i found a workaround which should also work for an eventhub trigger:

Instead of putting your output parameter in the method signature, put an attribute on top of your method instead.
So, use something like this:

`[FunctionName("UserChan

[2022-03-09 23:02] racingcow opened #545 "Vulnerabilities in referenced packages"
Hello,

I'm using the latest version of [microsoft.net.sdk.functions](https://www.nuget.org/packages/Microsoft.NET.Sdk.Functions/4.1.0) (4.1.0 at the time of this writing) to run **Functions in Azure**. I'm also using WhiteSource to help identify potential security vulnerabilities.

When running WhiteSource, I get the following vulnerabilities reported from these packages as shown below, each of w

[2022-03-10 18:48] MaDOS commented on #491
Was there ever done any analysis or testing regarding this?
I am currently facing the same problem that when using `EventData` from `Azure.Messaging.Eventhubs` i can't get the function to work properly (error from OP can still be reproduced).
But when using the trigger and models from Microsoft.Azure.WebJobs.Extensions.EventHubs (v4.x) the `EventData` model still comes from `Microsoft.Azure.EventH

[2022-03-11 15:59] BrunoJuchli commented on #67
@ColbyTresness
There's still at least this build warning created from msbuild targets:
https://github.com/Azure/azure-functions-vs-build-sdk/blob/main/src/Microsoft.NET.Sdk.Functions.Generator/FunctionJsonConverter.cs#L248

Note: I leave this setting out from local.settings.json and I still get it working by customizing how settings are loaded.
So it's kind of annoying that this warning cannot be

[2022-03-14 17:11] andrei-faber opened #546 ""The ExtensionsMetadataGenerator package was not imported correctly. Are you missing ....""
I'm getting this warning on build: `The ExtensionsMetadataGenerator package was not imported correctly. Are you missing 'C:\Users\andreifaber\.nuget\packages\microsoft.azure.webjobs.script.extensionsmetadatagenerator\4.0.1\build\Microsoft.Azure.WebJobs.Script.ExtensionsMetadataGenerator.targets' or 'C:\Users\andreifaber\.nuget\packages\microsoft.azure.webjobs.script.extensionsmetadatagenerator\4.0

[2022-03-22 23:16] paddy74 commented on #478
Is there any movement on this?

[2022-03-29 07:10] #463 closed

[2022-04-05 16:31] Pikabanga commented on #468
We have the same problem but with newer versions. Please let me know if you would like me to provide more details.

[2022-04-17 13:13] SietseT commented on #93
Still facing this warning. This is quite sloppy.

[2022-04-18 17:34] FrankBurmo opened #550 "Security Vulnerabilities in Microsoft.NET.SDK.Functions 4.1.0"
Hello, I am using Microsoft.NET.SDK.Functions 4.1.0 for my Azure function App. I am getting vulnerabilities in one of the subcomponents which is referred by Microsoft.NET.SDK.Functions 4.1.0 during Snyk-scanning:

**System.Text.Encodings.Web 4.5.0** has an Remote Code Execution (RCE)-vulnerability:
https://security.snyk.io/vuln/SNYK-DOTNET-SYSTEMTEXTENCODINGSWEB-1253267

The fix is clear:
_**Upgra

[2022-04-21 13:46] PriyaDhiv commented on #470
@TechWatching
I am getting the same issue after upgrading the .net core version to 3.1. How this got resolved in your side? can you guide me on this.

[2022-04-21 16:05] TechWatching commented on #470
Just by using a previous version of the SDK if I remember correctly

[2022-04-22 15:45] roend83 opened #552 "DryIoc Exception After Upgrading to .NET 6 and V4"
I'm getting the following error after upgrading my .NET 5 V3 in-process function to a .NET 6 V4 in-process function:

```Scope disposed{no name} is disposed and scoped instances are disposed and no longer available.```

This happens when I register a singleton object that accepts an IServiceProvider as a dependency that when invoked tries to create an instance of a service registered as scoped.  T

[2022-04-27 18:02] roend83 commented on #552
I moved this issue over to azure-function-host

https://github.com/Azure/azure-functions-host/issues/8330

[2022-04-27 18:02] #552 closed

[2022-05-09 02:35] EmilAlipiev commented on #478
Is there any workaround on this?

[2022-05-10 11:34] AdaTheDev opened #556 "Deploying Azure Function to Linux plan from VS2022 fails with "unexpected character" JsonReaderException"
### Summary:
I have a number of Azure Functions (V3, .NET 3.1) that I've previously deployed via VS2022 with no issues, to Linux consumption plan.
They've all now started failing to publish with the same error (full stack trace further down in repro steps):
`Newtonsoft.Json.JsonReaderException: Unexpected character encountered while parsing value: {. Path 'build_summary', line 1, position 489`

##

[2022-05-12 17:18] laurentAstonIf opened #553 "AF V4 / Net 6.0 / Linux Plan/ GenerateRuntimeConfigurationFiles / runtimeconfig.template.json not used"
Hi

1.
I'm migrating from AF V3/ Core 3.1 to AF V4 / Net 6.0

(hosted on Function App with linux plan)

Some of my functions use external components that still use System.Drawing.Common
which make these functions crash with "System.Drawing.Common: The type initializer for 'Gdip' threw an exception. System.Drawing.Common: System.Drawing.Common is not supported on non-Windows platforms"

I have adde

[2022-05-16 11:17] dfe-impact commented on #93
Still facing this

[2022-05-16 12:22] michaelpaulus opened #554 "FunctionsInDependencies doesn't seem to work"
Here is a demo app, and the functions are not generated on build.  I expect both Test1 and Test2 to work, but only Test2 output is generated

[FunctionApp1.zip](https://github.com/Azure/azure-functions-vs-build-sdk/files/8699974/FunctionApp1.zip)

[2022-05-16 17:37] michaelpaulus commented on #554
I was able to fix the issue by adding an explicit reference to the test1 class in the app.  Looks like it wasn't picking up the project reference unless it was actually referenced in code somehow.

[2022-05-16 17:37] #554 closed

[2022-05-17 10:43] jonganej opened #555 "Publish to Function (v4) fails with Deserialization Exception"
I'm trying to publish to a Linux-based Azure Function v4 but it fails with an apparent exception thrown by the deserialization of the response as seen in the log dump below. Apparently the error message is the same regardless of whether I'm signed in to VS or not. I looked up the code and it seems that a try catch on deserialization / dumping the raw response body if deserialization fails could be

[2022-05-20 17:00] Bygdrift commented on #110
It would be nice if it was possible to reference this package - just tried version 4.1.0 without luck.

[2022-05-20 21:25] yrajendarreddy commented on #397
I am new to azure functions and i am facing same issue, where do i add "<_FunctionsSkipCleanOutput>true</_FunctionsSkipCleanOutput>" in project to resolve this issue?

[2022-05-23 15:41] ejueldotnet commented on #397
@yrajendarreddy you need to add it to the project file. Within Visual Studio just right click on the project and select "Edit Project File". Then add the _FunctionsSkipCleanOutput logic to the Property Group.

Ex:
[code]

[2022-05-24 09:04] Ruud2000 commented on #93
I get the same error with an Azure Function that uses an Event Hub Trigger in combination with managed identity.

[code]

My `local.settings.json` looks like something like this:

[code]

This gives the following warning:
`Function [MyFunctionName]: cannot find value named 'AzureEventHubsNameSpace' in local.settings.json that matches 'connection' property set on 'eventHubTrigger'.`

According to t

[2022-05-24 16:10] #555 closed

[2022-05-25 19:05] cataggar commented on #480
I just ran into this. When I build, it is giving me this error:

[code]
from
C:\Users\cataggar\.nuget\packages\microsoft.net.sdk.functions\4.0.1\build\Microsoft.NET.Sdk.Functions.Build.targets

I'm using Microsoft.NET.Sdk.Function 4.0.1
![image](https://user-images.githubusercontent.com/87583576/170347983-9409aba6-0bcd-42a4-ac90-4db9f1fabd80.png)

[2022-05-25 19:20] cataggar commented on #480
It looks like the error is coming from here:
https://github.com/Azure/azure-functions-vs-build-sdk/commit/e01723e42828899efa92cf89c067d9fb10504036#diff-deef5eafcb2f79e9b4fa343f175b8c0ad462fe43112394ebb47e5b1a563af62cR147

[2022-05-25 22:45] #341 closed

[2022-05-25 22:46] liliankasem commented on #353
Looks like PR to fix this issue has been merged

[2022-05-25 22:46] #353 closed

[2022-05-25 22:48] #406 closed

[2022-05-25 22:50] liliankasem commented on #405
@HeinPauwelyn @cgronseth is this issue still happening?

[2022-05-25 22:55] liliankasem commented on #408
Closing as dup, will track this in issue in #512

[2022-05-25 22:55] #408 closed

[2022-05-25 22:57] liliankasem commented on #390
Issue should be fixed in 3.0.5 +, please reopen if still seeing this issue

[2022-05-25 22:57] #390 closed

[2022-05-25 23:01] liliankasem commented on #375
@ChrisAllisonMalta sorry, 2 years late to this! Do you still face this issue in the latest version?

[2022-05-25 23:06] liliankasem commented on #428
Issue should have been addressed in latest version, please reopen if still seeing the same problem!

[2022-05-25 23:06] #428 closed

[2022-05-25 23:09] liliankasem commented on #427
Should have been resolved with this [PR](https://github.com/Azure/azure-functions-host/pull/6849), please reopen if still facing the same issue!

[2022-05-25 23:09] #427 closed

[2022-05-25 23:10] #420 closed

[2022-05-25 23:11] liliankasem commented on #416
@TylerBrinks sorry, 2 years late to this! Are you still seeing this issue in the latest version?

[2022-05-25 23:15] liliankasem commented on #493
Looks like they released last January: https://www.nuget.org/packages/Microsoft.Azure.WebJobs.Extensions.Http/3.0.12

But I think in general this is an issue for that [repo](https://github.com/Azure/azure-webjobs-sdk-extensions), and we're not in control of that release or it's signing

[2022-05-25 23:15] #493 closed

[2022-05-25 23:17] liliankasem commented on #474
@agr v2 is now deprecated, are you still seeing this issue in v4?

[2022-05-26 21:32] kshyju commented on #546
@andrei-faber For a V3 function app, you should be using the 3x version of the `Microsoft.NET.Sdk.Functions` package, not the 4X version like 4.1.0.

Can you try the latest in V3 version, which is 3.1.1 as of this writing, in your V3 function app?

https://www.nuget.org/packages/Microsoft.NET.Sdk.Functions/3.1.1

[2022-05-26 21:42] kshyju commented on #507
@haiyuzhu  We do not have a version targeting NET 5. The latest version (V4) is targeting [net6.0](https://github.com/Azure/azure-functions-vs-build-sdk/blob/v4.x/src/Microsoft.NET.Sdk.Functions/Microsoft.NET.Sdk.Functions.csproj#L7).

I realized this issue was an year old. What specifically were you trying to achieve with your ask? May be there is a better answer for that question today.

[2022-05-27 20:07] cajuncoding commented on #556
Had the same issue suddenly today, but seems to now be resolved by updating `Microsoft.NET.Sdk.Functions` from v4.0.0 to v4.1.1:

`<PackageReference Include="Microsoft.NET.Sdk.Functions" Version="4.1.1" />

[2022-05-29 12:32] Spaceman1861 commented on #556
@cajuncoding that worked for me thanks

[2022-05-30 01:15] agr commented on #474
We are on v1, since we need full .net framework support and as far as I understand it is present only in v1. I see that v4 has .net framework support in preview on ([link](https://docs.microsoft.com/en-us/azure/azure-functions/functions-versions?tabs=in-process%2Cazure-cli%2Cv4&pivots=programming-language-csharp#languages)). Any idea when it will be production ready?

[2022-05-30 01:24] fabiocav commented on #556
Indeed, the latest packages have been published with the fix for this issue. Please upgrade to version 4.1.1 to address the problem.

Thank you all for the patience and for reporting this!

[2022-05-30 01:24] fabiocav commented on #556
Closing as resolved, but please let us know if you have any issues with this. Thanks!

[2022-05-30 01:24] #556 closed

[2022-05-31 03:02] fowl2 commented on #512
[4.1.0](https://github.com/Azure/azure-functions-vs-build-sdk/releases/tag/4.1.0) has a GitHub release, with notes!

[4.1.1](https://www.nuget.org/packages/Microsoft.NET.Sdk.Functions/4.1.1) does not...

[2022-05-31 07:03] laurentAstonIf commented on #553
Hi
i have actually solved this problem using
AppContext.SetSwitch("System.Drawing.EnableUnixSupport", true);
in the startup of the azure function

[2022-06-01 18:05] #369 closed

[2022-06-01 19:44] Tyler-V commented on #322
Changelog?

[2022-06-01 20:12] fabiocav commented on #480
Indeed. This is not a supported constructor in the context of Functions. We'll create an analyzer for this providing clearer information when this is used (with a code suggestion).

[2022-06-01 23:20] baumatron commented on #298
@vijayrkn can you explain how what was fixed? I am struggling to get a manifest file to publish under `bin/` in the published zip file. I'm experiencing the exact same problem as described originally by @cloudlene. The only work around I've found is to manually move the file and deploy again, which of course doesn't work in a production environment.

[2022-06-03 01:01] #546 closed

[2022-06-03 01:01] #507 closed

[2022-06-03 16:13] azuregomez commented on #556
even with <PackageReference Include="Microsoft.NET.Sdk.Functions" Version="4.1.1" /> it fails

[2022-06-06 10:05] AdaTheDev commented on #556
Will update packages shortly, but want to say thanks for resolving this! 👍

[2022-06-06 23:23] dzsquared opened #560 "SQL output bindings suddenly requiring CommandType attribute"
SQL output bindings do not require the CommandType attribute, but between v4.0.1 of Microsoft.NET.Sdk.Functions and 4.1.0 it suddenly is required for a function with output bindings to start up.  Downgrading the function project to v4.0.1 resolves the issue

Suspected culprit: https://github.com/Azure/azure-functions-vs-build-sdk/pull/542

@kshyju @shreyabatra4

This is rather unfortunate because

[2022-06-09 10:01] mikkoyli commented on #397
When I add <_FunctionsSkipCleanOutput>true</_FunctionsSkipCleanOutput> to csproj file I am unable to deploy it to Azure with
"func azure functionapp publish" command.

Uploading package...
Uploading 25,01 MB [##############################################################################]
Upload completed successfully.
Deployment completed successfully.
Syncing triggers...
Syncing triggers...
Synci

[2022-06-09 18:23] liliankasem commented on #474
Unfortunately  there isn't an ETA on GA for .NET Framework, but we'd love feedback on the preview version if you get around to trying it out.

You should be able to create a static ILogger at the class level, assign it in one of the Function invoked methods.

[code]

Alternatively, maybe this blog post could help as a workaround: https://blog.tech-fellow.net/2017/12/12/component-with-ilog-reused-i

[2022-06-09 18:45] liliankasem commented on #474
In the newer host versions, you should be able to use DI to register a logger with any service you want and it doesn't have to be tied directly to the invocation e.g. `class MyCacheClass(ILogger<MyCacheClass> logger)`

[2022-06-10 07:41] srikanthrigaps commented on #556
Cool , 4.1.1 worked. !! Thank you

[2022-06-14 14:39] Ved2806 commented on #553
Hi @pragnagopa could you please look into this issue?

[2022-06-16 11:57] Hakuroda opened #562 "Microsoft.NET.Sdk.Functions v.1.0.24 uses WindowsAzure.Storage v.7.2.1 that is deprecated."
Azure Functions Runtime version 1.x is still support and to develop that version of application we use Microsoft.NET.Sdk.Functions v.1.0.24. But in that sdk it uses WindowsAzure.Storage v.7.2.1 that is deprecated already. I think there is a conflict.

**ASK**
- Is there any way to use Azure.Storage.Blobs instead?
- Do we have to migrate the functionapp to Azure Functions version 4.x not version 1.

[2022-06-17 08:31] Hakuroda commented on #562
**UPDATES**
The latest version of Microsoft.NET.Sdk.Functions is v.1.0.38. And this package references Microsoft.Azure.WebJobs v.2.3.0. This Microsoft.Azure.WebJobs package is the last version of v.2.x and updated on 2018/11/29 thus I think Microsoft.NET.Sdk.Functions need reference Microsoft.Azure.WebJobs v.2.x.

Also it seems that Azure Functions host runtime version 4 started to support .NET Fr

[2022-06-20 20:40] apilosofms commented on #545
Any update on this? It's causing CG issues which can't be fixed.

[2022-06-22 02:06] kinizumi commented on #397
this workaround only works in local, when you publish to azure, it gives you 500

[2022-06-23 23:32] surgupta-msft commented on #368
This issue seems duplicate of #458 where changes have been merged. Closing this. Let me know if I missed any details.

[2022-06-23 23:32] #368 closed

[2022-07-06 15:12] Pompeoar opened #579 "Warnings when using identity-based connection for AzureWebJobsStorage"
I can't tell if these are legit or related to something like issue 541 and others.

Using identity-based connections, everything works end to end locally, but I get this build warning when I build or run tests.

`/home/vscode/.nuget/packages/microsoft.net.sdk.functions/4.1.1/build/Microsoft.NET.Sdk.Functions.Build.targets(32,5): warning : Function [MyQueueTriggeredFunction]: Missing value for Azur

[2022-07-12 09:41] rsrinivasanhome opened #580 "BDSA-2018-5195 - JamesNK/Newtonsoft.Json upgrade to 13.0.1"
Hi,

I scanned the package [azure-functions-vs-build-sdk] .  From BD hub we get the vulnerability as  BDSA-2018-5195.
Can the version of newtonsoft be upgraded to version 13.0.1 ?  Can this be planned in the upcoming release ?

[2022-07-13 15:33] metu commented on #518
Anybody have an answer to this in 2022? Possible solution to prevent the bin-in-bin scenario? Very irritating to deal with when you have a web app project as well as a function app project in the same solution trying to get files from a project only to have the function app create a bin folder inside the bin folder for all the dll's but not place the files which you've marked as `Copy if Newer` or

[2022-07-14 10:52] rsrinivasanhome commented on #545
Any update on this issue ?  when is it planned to be fixed ?

[2022-07-26 06:37] Ved2806 commented on #579
Hi @mattchenderson Could you please help with this issue?

[2022-08-01 16:58] hansgschossmann commented on #580
same here. my DevOps pipeline reports this vulnerability as high. can you let us know what the plan is to update the nuget package?

[2022-08-01 20:06] tomasopye commented on #480
So this sounds like we cannot use a DisableProvider wiht the DisableAttribute until this is resolved, is that correct?
And if so, what release is this planned for?

[2022-08-02 07:08] cieciurm commented on #110
I am currently working on a library shared across Azure Functions projects.

Instead of having a project referencing `Microsoft.NET.Sdk.Functions` you could have a `.NET Standard` library
referencing SDK's dependencies:

- `Microsoft.Azure.WebJobs.Extensions`
- `Microsoft.Azure.WebJobs.Extensions.Http`

And keep the shared code in this project (it would be a regular class library). This project ca

[2022-08-08 16:00] Ved2806 commented on #494
Hi @ealsur Could you please look into this issue?

[2022-08-16 14:44] ealsur commented on #494
@Ved2806 please reach out to the authors of the azure functions runtime, I am not involved in this project and have no insight on what this Generator is about.

[2022-08-19 07:09] plukawski commented on #494
This is just a perfect example of total ignorance from Authors of the SDK. The bug has over 1 year, it is a blocker one and yet no one tried to even look at it. What we ended with is to clone this repo, fix that one line of code (one line!), build it by ourselves and put the binaries in our project repository so the publish to Azure can work fine again.

[2022-08-19 22:52] AtOMiCNebula opened #583 "Generator doesn't warn when FunctionName is specified on a method that has multiple overloads"
We had code written like the following, which didn't yield any build errors, but did fail in the host with "ambiguous match found" errors:

[code]

We resolved it by renaming the two `Run`s into two different distinct names.  It would be nice if the generator could warn about this at build time, though!

[2022-08-20 21:26] bryanknox commented on #397
@kinizumi  - `_FunctionsSkipCleanOutput` does work in Azure.  I've used with in-process AzureFunctionsVersion v3 and v4.

[2022-08-20 21:33] bryanknox commented on #397
`_FunctionsSkipCleanOutput` and `FunctionsPreservedDependencies` are still undocumented. And the mention of `FunctionsPreservedDependencies` was removed from:
https://docs.microsoft.com/en-us/azure/azure-functions/functions-develop-vs?tabs=in-process

So, I wrote a blog post that may help:
https://bryanknox.github.io/2022/07/15/functionsskipcleanoutput-and-functionspreserveddependencies.html

[2022-08-23 19:50] kandarpgautam commented on #272
This seems like a bug that still persists.
![image](https://user-images.githubusercontent.com/22766673/186251779-558a942a-a409-48de-84d6-9f452995b803.png)

I am having this issue after deploying though the app works fine locally.
![image](https://user-images.githubusercontent.com/22766673/186252623-9207c338-3732-4aed-ba53-661c6d2f0438.png)

stacktrace:
[code]

[2022-08-25 14:53] Ved2806 commented on #579
Hi @Pompeoar Please refer the discussion here [#8412](https://github.com/Azure/azure-functions-host/issues/8412) and let us know if it helps. Thanks.

[2022-08-25 17:11] Ved2806 commented on #523
Hi @spplante Closing this as duplicate as this issue is already being tracked at [#7592](https://github.com/Azure/azure-functions-host/issues/7592). Thanks.

[2022-08-25 17:11] #523 closed

[2022-08-30 17:16] HolisticDeveloper opened #585 "'Metadata generation failed' when function parameter has BindingAttribute with array parameter"
I am trying to update some Azure Function projects from .NET Core 3.1 to .NET 6. We have defined a custom BindingAttribute to handle authorization. When updating the Functions SDK from 3.0.13 to 3.1.0 or later, we can no longer build the projects. Instead, we get the following errors in the Error List:

- System.ArgumentException: Object of type 'Mono.Cecil.CustomAttributeArgument[]' cannot be con

[2022-08-30 23:03] countchivas opened #586 "Microsoft.NET.Sdk.Functions 4.1.2 - Fails to run locally with new project."
Creating a new Azure Functions project with http trigger runs locally with 4.1.1, but upgrading to 4.1.2 produces the following error.

A host error has occurred during startup operation '9961b9b4-2e91-49c8-aa7d-3f87ec5532d3'.
[2022-08-30T22:57:28.349Z] System.Private.CoreLib: Could not load file or assembly 'Microsoft.Azure.WebJobs.Extensions.Http, Version=3.2.0.0, Culture=neutral, PublicKeyToken

[2022-08-31 03:58] fowl2 commented on #545
FYI. it appears that [Microsoft.NET.Sdk.Functions 4.1.2](https://www.nuget.org/packages/Microsoft.NET.Sdk.Functions/4.1.2) has been released on NuGet, with dependencies bumped.

(missing release notes is being tracked: https://github.com/Azure/azure-functions-vs-build-sdk/issues/512)

[2022-08-31 03:59] fowl2 commented on #512
[4.1.2 has been released on NuGet.org](https://www.nuget.org/packages/Microsoft.NET.Sdk.Functions/4.1.2), again no release notes here, or anywhere I can find.

Seems likely this is security sensitive too, given https://github.com/Azure/azure-functions-vs-build-sdk/issues/545.

[2022-08-31 04:01] fowl2 commented on #550
I believe this issue is a duplicate of https://github.com/Azure/azure-functions-vs-build-sdk/issues/545.

[2022-08-31 21:50] brettsam commented on #512
I've just added releases for 4.1.3, 4.1.2, and 3.1.2. We're working on new processes that'll auto-update these so the task doesn't get forgotten. Thanks for calling this out!

[2022-08-31 21:51] brettsam commented on #545
Fixed with #581 and released in 4.1.2 as noted above.

[2022-08-31 21:51] #545 closed

[2022-08-31 21:52] brettsam commented on #550
Fixed with https://github.com/Azure/azure-functions-vs-build-sdk/pull/581 and released in 4.1.2.

[2022-08-31 21:52] #550 closed

[2022-09-01 19:03] #579 closed

[2022-09-02 10:54] chris-parker-bliss commented on #586
Not sure if this'll help but I was having the exact same issue, and doing the following seems to have resolved it for me:
* Clearing out my [dotnet nuget locals](https://docs.microsoft.com/en-us/dotnet/core/tools/dotnet-nuget-locals) caches
* Uninstalling, and then installing the latest version of the Azure Functions Core Tools

[2022-09-02 14:05] davidmine commented on #586
Having the same problem, I tried the solution above, but the problem persisted. I was upgrading from version 3.0.13 and thought that the major version change was breaking it for me. Once I downgraded to 4.1.1, the functions started fine.

Oddly enough, I only experienced this when debugging from VS. I never encountered this issue in the CLI (installed through NPM in the node directory) which makes

[2022-09-05 15:22] jdluzen commented on #586
Same problem. I had to update the Function Core Tools. The various CLI/npm/VS install options also tripped me up.

[2022-09-06 12:47] RenFontes commented on #427
Thank you so much :))

[2022-09-06 12:48] RenFontes commented on #427
This is still happening btw, should it be reopened?

[2022-09-06 15:19] mprice-gcmlp commented on #586
We just resolved this by deleting `%LOCALAPPDATA%\AzureFunctionsTools\Releases\4.21.0`, opening VS 2022 back up, going to Tools -> Options -> Projects and Solutions -> Azure Functions. Clicking Check for Updates and downloading it. Then it magically worked again.

[2022-09-07 07:45] m4m4m4 commented on #586
The following solved the problem for me, SDK version 4.1.3
[code]

[2022-09-12 08:00] alatas commented on #556
Same problem with 4.1.1 today, I landed this issue and updated `Microsoft.NET.Sdk.Functions` from `4.1.1` to `4.1.3` and problem solved.

[2022-09-16 07:51] sergejsxcode opened #588 "Microsoft.NET.Sdk.Functions 4.1.3 doesn't work with local debug"
Hi!

I have installed the latest Nuget version Microsoft.NET.Sdk.Functions 4.1.3, also updated functions app to .Net 6 ~4.
When I try to debug function locally i see the exception:

A host error has occurred during startup operation 'df893eaa-2719-460c-b1a7-7fdcb3f2eb42'.
[2022-09-16T07:39:06.524Z] System.Private.CoreLib: Could not load file or assembly 'Microsoft.Azure.WebJobs.Extensions.Http, Ve

[2022-09-16 09:57] sergejsxcode commented on #588
I have fixed it after this recommendation:
We just resolved this by deleting %LOCALAPPDATA%\AzureFunctionsTools\Releases\4.21.0, opening VS 2022 back up, going to Tools -> Options -> Projects and Solutions -> Azure Functions. Clicking Check for Updates and downloading it. Then it magically worked again. I have had some sort of folders after installation.
![folders](https://user-images.githubuserco

[2022-09-19 07:17] ramya894 commented on #588
Closing the issue as resoled,

[2022-09-19 07:18] #588 closed

[2022-09-19 07:22] ramya894 commented on #586
closing the issue as resolved

[2022-09-19 07:22] #586 closed

[2022-09-30 07:05] Ved2806 commented on #496
Hi @brettsam Do you have any inputs?

[2022-10-01 18:25] tbasallo opened #589 "SDK 4.1.3 and Microsoft.Azure.WebJobs.Extensions.Http 3.2 breaks"
Updating the Microsoft.NET.Sdk.Functions to 4.1.3 and uipdating Microsoft.Azure.WebJobs.Extensions.Http to which is requieed, causes for the runtime (locally) to not find it and error with "Could not load file or assembly Microsoft.Azure.WebJobs.Extensions.Http 3.2.0"

Downgrading to 4.1.1 and Http 3.0.12 works.

[2022-10-03 10:03] JonasJes commented on #589
I have the same problem, got it solved locally by updating [Azure Functions Core Tools](https://go.microsoft.com/fwlink/?linkid=2174087)
But is was still failing while running in docker, so I also had to downgrade to 4.1.1 to get it running there as well.

Same problem in reported to [stackoverflow](https://stackoverflow.com/questions/73034959/microsoft-azure-webjobs-extensions-http-could-not-load

[2022-10-04 10:15] huytranbandlab commented on #524
Hello, this issue still happens on version `4.1.3`

[2022-10-06 12:09] ramya894 commented on #589
@JonasJes We will check this issue with our next level team and update you.

[2022-10-07 09:15] gargrahulms opened #590 "Had upgraded newtonsoft.Json to 13.0.1 and Microsoft.NET.Sdk.Functions to 3.0.1from 1.0.22 and facing the following Ambiguity error .I also installed Microsoft.Azure.WebJobs.Extensions.Storage 3.0.0 to remove error :"QueueTriggerAttribute Missing""
The call is ambiguous between the following methods or properties: 'System.Net.Http.HttpRequestMessageExtensions.CreateResponse<T>(System.Net.Http.HttpRequestMessage, System.Net.HttpStatusCode, T)' and 'System.Net.Http.HttpRequestMessageExtensions.CreateResponse<T>(System.Net.Http.HttpRequestMessage, System.Net.HttpStatusCode, T)'

Currently on .net framework 4.6.2

[2022-10-07 16:03] #496 closed

[2022-10-11 15:57] kshyju commented on #589
@tbasallo What is the core tools/host version you have? Is that the [latest](https://learn.microsoft.com/en-us/azure/azure-functions/functions-run-local?tabs=v4%2Cwindows%2Ccsharp%2Cportal%2Cbash#install-the-azure-functions-core-tools)?

[2022-10-12 10:31] ramya894 commented on #590
@gargrahulms please check the discussion mentioned in the below link for common errors.
https://github.com/Azure/azure-functions-host/issues/3363

If you still face the issue please share us the function app name, timestamp and invocation id details so that we can check the system logs and provide you with the solution.

[2022-10-13 13:10] michaelelleby opened #591 "Build hangs with Microsoft.NET.Sdk.Functions version 4.1.3 #8843"
When building the solution in VS 2019 and VS 2022, the build just hangs.

When I run `dotnet build -v d` in the console, I see it gets stuck at the target `_GenerateFunctionsExtensionsMetadataPostBuild`

This is with .NET Framework 4.7.1 and upgrading to .NET 6 is not an option.

Log file from `dotnet build` [build.log](https://github.com/Azure/azure-functions-host/files/9776870/build.log)

I have

[2022-10-13 13:28] tbasallo commented on #589
@kshyju yes. the latest (AFAIK). I also installed them separate from VS.

Azure Functions Core Tools
Core Tools Version:       4.0.4785 Commit hash: N/A  (64-bit)
Function Runtime Version: 4.10.4.19213

[2022-10-13 18:31] kshyju commented on #589
@tbasallo I could not repro this when I created a new in-proc dotnet 6 http function app. I upgraded my Microsoft.NET.Sdk.Functions package to 4.1.3 and Microsoft.Azure.WebJobs.Extensions.Http is 3.2.0, did F5 debugging on Visual studio and can see everything working as expected.

I am using VS 2022 17.3.6, which is the latest stable as of today. Do you see the same core tools version numbers when

[2022-10-14 07:57] JonasJes commented on #589
@kshyju Have you tried Dockerizing it and then running it?

[2022-10-17 00:29] kshyju commented on #589
Yes, I do not see any issues with running it in docker. If you are experiencing issues, please open a new issue so we can discuss the details there. Thanks!

[2022-10-18 13:11] ramya894 commented on #591
@michaelelleby We are investigating the issue and update you the findings soon.

[2022-10-18 20:21] JasonAndersen7 opened #592 "'Metadata generation failed' when updating Microsoft.NET.Sdk.Functions to 4.1.3"
I am trying to update an Azure Function project from .NET Core 3.1 to .NET 6. When updating the Microsoft.NET.Sdk.Functions from 3.0.11 to 4.1.3 or later, I can no longer build the project. Instead, I get the following errors in the Error List:

- _System.ArgumentException: Object of type 'Mono.Cecil.TypeReference' cannot be converted to type 'System.Type''._
- _Metadata generation failed._

Simil

[2022-10-18 20:33] kshyju commented on #592
Just to confirm, If you downgrade to 4.1.2 version of `Microsoft.NET.Sdk.Functions`, build works?

[2022-10-19 12:39] Jaryn91 commented on #246
I went thru the very same issue.
`Work.Parser.Functions -> C:\Work.Parser.Functions\
C:\Users\Administrator\.nuget\packages\microsoft.net.sdk.functions\4.1.3\build\Microsoft.NET.Sdk.Functions.Publish.targets(148,5): error : System.UriFormatException: Invalid URI: The format of the URI could not be determined. [C:\workspace\Projects\Work.Parser.Functions\Work.Parser.Functions.csproj]
C:\Users\Admin

[2022-10-19 13:03] #590 closed

[2022-10-19 13:33] ramya894 commented on #583
@AtOMiCNebula We will check this issue with our next level team and update you.

[2022-10-19 14:06] JasonAndersen7 commented on #592
Hello kshyju,
Thank you for responding, we were able to use version 4.0.0 and version 4.0.1 but for all other versions later than 4.0.1 the build does not work

[2022-10-19 14:08] lgp1985 commented on #589
If I create an Azure Function project, and then run as is, it'll work, but if I go to Mange NuGet Packages and update to latest version available it'll fail to run, without any code changes, what am I missing here?

You can see all my steps on attached video.

https://user-images.githubusercontent.com/810024/196714150-0b92fbec-a6fc-44eb-9a49-c6fb93614144.mp4

[2022-10-19 16:38] kshyju commented on #589
@lgp1985 Can you change the package source to "nuget.org" when upgrading the package to 4.1.3 and see what happens?

[2022-10-19 17:21] kshyju commented on #592
@JasonAndersen7 I could not repro this issue. Would you be able to share a minimal repro? A GitHub repo will be great.

[2022-10-19 18:19] lgp1985 commented on #589
Like this @kshyju ?

https://user-images.githubusercontent.com/810024/196772668-5c9d55da-7af4-441c-ba3f-62784b7c13a3.mp4

[2022-10-24 13:27] kshyju commented on #589
@lgp1985 Can you share a minimal repro with us? A Github repo will be great. Thanks!

[2022-10-26 12:25] tbasallo commented on #589
hmm...I've updated a few projects and haven't had any issues.

However, the tools did update:
Azure Functions Core Tools
Core Tools Version:       4.0.4829 Commit hash: N/A  (64-bit)
Function Runtime Version: 4.11.2.19273

Maybe that's why which matches @kshyju

[2022-10-26 13:23] lgp1985 commented on #589
Here's a repo https://github.com/lgp1985/defect-v4.1.3-azure-functions-vs-build-sdk with both failing and working projects under the same solution. Worth mentioning the issue is only reproducible in Windows 10, I provided some details on VS2022 and Windows version of an environment in which it works, and another that fails.

I can confirm other 3 developers have faced the same issue under Windows

[2022-10-26 17:03] phil-allen-msft opened #593 "Cannot publish function app"
Copied from https://developercommunity.visualstudio.com/t/Cannot-publish-function-app/10163830

When I try to publish a function app through the current publishing profile, I get the error:
The attempt to publish the ZIP file through https://myfunctionapp.scm.azurewebsites.net/api/zipdeploy failed with HTTP status code Conflict.

Maybe related:

Azure authentication inside Visual Studio tells me t

[2022-10-28 10:41] cveld commented on #593
Interestingly when publishing the generated zip by Visual Studio from func cli everything runs fine. I would love to see a more verbose logging of Visual Studio's operations. Is Visual Studio really executing the func cli? If so, how can I inspect the precise commandline?

[2022-10-28 17:06] phil-allen-msft commented on #593
Visual Studio is invoking the Functions SDK to do the build and publish via MSBuild, which uses the ZipDeploy task in order to actually push the bits to the function app.  src/Microsoft.NET.Sdk.Functions.MSBuild/Tasks/ZipDeployTask.cs and friends.   A commandline that should do the same is, if run from the directory that has the csproj file for the function app:
dotnet build /p:PublishProfile=<Nam

[2022-10-31 16:16] Ved2806 commented on #553
Hi @laurentAstonIf Can we close it as resolved? or you still need anything from us?

[2022-10-31 16:22] laurentAstonIf commented on #553
My workaround is working so you can close it
Thanks

[2022-10-31 20:00] KevinAble commented on #589
What fixed it for me was
Close Visual Studio
Delete folder C:\Users\***\AppData\Local\AzureFunctionsTools
Restart Visual Studio.
Launch Application, folder gets recreate

taken from  https://stackoverflow.com/questions/73645163/unable-to-upgrade-azure-functions-core-tools-exception-cannot-create-instance

[2022-11-01 15:14] Ved2806 commented on #553
@laurentAstonIf Thanks.

[2022-11-01 15:14] #553 closed

[2022-11-01 20:51] lgp1985 commented on #589
Hi @KevinAble,
that had no difference on Windows 10 for me

https://user-images.githubusercontent.com/810024/199338378-f9e75581-ca2f-4c25-b9e0-5d9e53021ca1.mp4

[2022-11-02 08:05] ramya894 commented on #592
@kshyju Can you check the above comments.

[2022-11-02 09:11] ramya894 commented on #591
@soninaren Can you please share your thoughts here.

[2022-11-03 09:35] cveld commented on #593
Yes with this command I can reproduce the error in Visual Studio.

[code]

The app service plan is of type Y1, Linux Consumption.

[2022-11-04 10:03] ramya894 commented on #593
@cveld We are investing the above issue and let you know the findings soon.

[2022-11-08 11:24] Vinnycout commented on #272
I am seeing the same issue here trying to use CosmosDb DocumentClient ....

Just started learning how to use Azure function app, this is quite frustrating as I spend many hours trying to resolve the issue until I find this thread ... Please could you fix this ASAP to prevent more misery for developer like me...

The function.json does not contain the Direction property.

[code]

[2022-11-08 17:15] alex-pavlovsky commented on #435
In my case this issue appeared after I added AzureExtensions.Swashbuckle to customize the startup logic and configure various Swagger properties. (This turned out to be completely unnecessary in the end since those options could have been configured as described here https://github.com/Azure/azure-functions-openapi-extension/blob/main/docs/openapi-in-proc.md via the OpenApi equivalents).
At any ra

[2022-11-17 19:51] ajukraine commented on #349
Does anyone know if there is similar issue opened with this problem but for runtime? I get this exception after function is triggered in Azure:

Locally it runs fine though.

[2022-11-21 14:12] Candelit commented on #470
I have 3.1, I get the same issue....
Any solution to it?

[2022-11-21 18:55] VenkatSappidi commented on #480
Any work around for this issue? I am having same one

[2022-11-24 10:48] ramya894 commented on #593
@cveld : can you update us is this issue still existing.

[2022-11-24 20:51] cveld commented on #593
I have upgraded nuget package microsoft.net.sdk.functions to version 4.1.3, but still the issue persists.

C:\Users\CarlintVeld\.nuget\packages\microsoft.net.sdk.functions\4.1.3\build\Microsoft.NET.Sdk.Functions.Publish.ZipDep
loy.targets(46,5): error : The attempt to publish the ZIP file through https://connectedq100func.scm.azurewebsites.net/
api/zipdeploy failed with HTTP status code Conflict.

[2022-11-27 23:32] dgohel21 opened #594 "Post build events failing"
I am using .net 6.0 for my function apps and Microsoft.NET.Sdk.Functions package. It works fine with the version 3.0.1 but when I upgrade it to latest one that is 4.1.3, Post build Events are failing. It gives an error that dll exited code 1.

<img width="186" alt="image" src="https://user-images.githubusercontent.com/119266813/204165532-911744b6-de60-40b9-b875-bee67da4a21b.png">
<img width="79" a